@font-face {
	font-family: 'BoldSans';
	src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot');
	src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansWeb(FaNum)_Bold.woff') format('woff'), url('../fonts/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'LightSans';
	src: url('../fonts/IRANSansWeb(FaNum)_Light.eot');
	src: url('../fonts/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansWeb(FaNum)_Light.woff') format('woff'), url('../fonts/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
	font-family: 'MediumSans';
	src: url('../fonts/IRANSansWeb(FaNum)_Medium.eot');
	src: url('../fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansWeb(FaNum)_Medium.woff') format('woff'), url('../fonts/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

body {
	font-family: "MediumSans";
}

