{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<style>
  .level {
      display: none;
  }
  .level.active {
      display: block;
  }
</style>
{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block main %}
<div class="row">

	{% include "elements/messages-section.html" %}

    <div class="col-12 mb-2">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">{% if not request.user.user_of_team_member.first.team.team_of_plan.first %}ثبت ایده/محصول{% else %}ایده شما{% endif %}</h4>
          </div>
          <div class="card-content">
              <div class="card-body">
                  {% if not request.user.user_of_team_member.first.team.team_of_plan.first %}
                  <form method="POST" id="multiStepForm" action="{% url "team:save-product" %}?next={{next_url}}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="team" value="{{object.id}}" hidden>
                    <div class="row">
                        <div class="col-12 level mt-2 active" id="level1">
                            <h4 class="mb-1"><span class="text-danger font-weight-bold">مرحله اول: </span>اطلاعات کلی ایده/محصول خود را وارد کنید</h4>
                            {{ form.name|as_crispy_field }}
                            {{ form.description|as_crispy_field }}
                        </div>

                        <div class="col-12 level mt-2" id="level2">
                            <h4 class="mb-1"><span class="text-danger font-weight-bold">مرحله دوم: </span>آپلود فایل پیچ دک</h4>
                            {{ form.pitch_deck|as_crispy_field }}
                        </div>

                        <div class="col-12 level mt-2" id="level3">
                            <h4 class="mb-1"><span class="text-danger font-weight-bold">مرحله سوم: </span>مشخص کردن سطح رشدی ایده/محصول</h4>
                            {{ form.status|as_crispy_field }}
                            {{ form.progress_status|as_crispy_field }}
                            {{ form.video|as_crispy_field }}
                        </div>

                        <div class="col-12 mt-3">
                            <span class="btn text-dark btn-label-success" id="next">تایید</span>
                            <button type="submit" class="btn text-dark btn-label-success" id="submit" style="display: none;">ثبت</button>
                        </div>
                    </div>

                    <!-- <button class="btn btn-success btn-block" type="submit">ثبت ایده/محصول</button> -->
                </form>
                  {% else %}
                  <table class="table table-responsive-md mt-1 table-bordered">
                      <thead>
                          <tr>
                              <th>نام ایده</th>
                              <th>توضیحات</th>
                              <th>دارای کمینه</th>
                              <th>سطح محصول</th>
                              <th>فیلم ارسال شده</th>
                              <th>فایل pitch deck</th>
                              {% comment %} <th>عملیات</th> {% endcomment %}
                          </tr>
                      </thead>
                      <tbody>
                          {% for idea in request.user.user_of_team_member.first.team.team_of_plan.all %}
                              <tr>
                                  <td class="font-weight-bold">{{idea.name|truncatechars:25}}</td>
                                  <td>{{idea.description|truncatechars:25}}</td>
                                  <td>{% if idea.status == "m" %}<span class="badge badge-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                  <td>{{idea.get_progress_status_display}}</td>
                                  <td>{% if idea.video %}<a class="badge badge-primary" href="{{idea.video.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                  <td>{% if idea.pitch_deck %}<a class="badge badge-primary" href="{{idea.pitch_deck.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                  
                                  {% comment %} <td><a href="" class="badge badge-info"><i class="feather icon-edit-2"></i> ویرایش</a></td> {% endcomment %}
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  {% endif %}
              </div>
          </div>
      </div>
    </div>

</div>
{% endblock main %}

{% block page_js %}
<script>
    $(document).ready(function() {
        var currentLevel = 1;
        var totalLevels = $(".level").length;

        function showCurrentLevel() {
            $(".level").removeClass("active");
            $("#level" + currentLevel).addClass("active");
            if (currentLevel === 1) {
                $("#previous").hide();
            } else {
                $("#previous").show();
            }

            if (currentLevel === totalLevels) {
                $("#next").hide();
                $("#submit").show();
            } else {
                $("#next").show();
                $("#submit").hide();
            }
        }

        function validateLevel(level) {
            var isValid = true;
            $("#level" + level + " :input").each(function() {
                if ($(this).prop('required') && $(this).val() === '') {
                    isValid = false;
                    $(this).addClass('is-invalid');
                } else {
                    $(this).removeClass('is-invalid');
                }
            });
            return isValid;
        }

        $("#next").click(function() {
            if (validateLevel(currentLevel)) {
                if (currentLevel < totalLevels) {
                    currentLevel++;
                    showCurrentLevel();
                }
            } else {
                alert("لطفاً تمام فیلدها را پر کنید.");
            }
        });

        $("#previous").click(function() {
            if (currentLevel > 1) {
                currentLevel--;
                showCurrentLevel();
            }
        });

        showCurrentLevel();


        function ideaOrProduct() {
            if ($('#id_status').val() === 'i') {
                $('#div_id_progress_status').hide();
                $('#div_id_video').hide();
            } else if ($('#id_status').val() === 'm') {
                $('#div_id_progress_status').show();
                $('#div_id_video').show();
            }
        }

        ideaOrProduct();
        $('#id_status').change(function() {
            ideaOrProduct();
        });
    });
</script>
{% endblock page_js %}