{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href={% static "admin-theme/app-assets/vendors/css/forms/select/select2.min.css" %}>
{% endblock page_css %}

{% block extra_menu %}{% endblock extra_menu %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    {% if not request.user.user_of_team_member.first %}
    <div class="col-12">
        <div class="card">
            <h5 class="card-header pb-1">ساخت تیم</h5>
            <div class="card-content">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 mt-2">
                                {{ form.name|as_crispy_field }}
                            </div>
                            <div class="col-lg-6 mt-2">
                                {{ form.category|as_crispy_field }}
                            </div>
                            <div class="col-lg-12 mt-2">
                                {{ form.description|as_crispy_field }}
                            </div>
                        </div>

                        <button class="btn btn-label-success mt-3" type="submit">تائید و ایجاد تیم</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="fa fa-hashtag"></i> تیم شما</h4>
            </div>
            <div class="card-content">
                <div class="card-body card-dashboard">
                    <div class="table-responsive">
                        <table class="table zero-configuration">
                            <thead>
                                <tr class="">
                                    <th>نام تیم</th>
                                    <th>تعداد اعضا</th>
                                    <th>دسترسی شما</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{teams.first.team.name}}</td>
                                    <td>{{teams.first.team.team_of_team_member.count}}</td>
                                    <td>{% if teams.first.is_owner %}<span class="badge bg-label-warning">سازنده</span>{% else %}***{% endif %}</td>
                                    <td>{% if teams.first.is_owner %}<a href={% url "team:update-team" teams.first.team.uuid %} class="badge bg-label-info">ویرایش</a>{% else %}***{% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-header">
                <h4 class="card-title"><i class="fa fa-hashtag"></i> وضعیت تکمیل نیازمندی ها توسط هم تیمی های شما</h4>
            </div>
            <div class="card-content">
                <div class="card-body card-dashboard">
                    <div class="table-responsive">
                        <table class="table zero-configuration">
                            <thead>
                                <tr class="">
                                    <th>#</th>
                                    <th>نام هم تیمی</th>
                                    <th>شماره تماس</th>
                                    <th>تکمیل پروفایل</th>
                                    <th>آزمون شخصیت</th>
                                    <th>تاریخ تکمیل</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tmember in teams.first.team.team_of_team_member.all %}
                                    <tr>
                                        <td>{{forloop.counter|default:"0"|stringformat:"02d"}}</td>
                                        <td>{{tmember.user.get_full_name}}</td>
                                        <td>{{tmember.user.phone_number}}</td>
                                        <td>{% if tmember.user.is_profile_complete %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                        <td>{% if tmember.user.user_of_personal_test.exists %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                        <td>{{tmember.user.user_of_road_registration.first.complete_registration_date|to_jalali}}</th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock main %}

{% block page_js %}
<script src={% static "admin-theme/app-assets/vendors/js/forms/select/select2.full.min.js" %}></script>
<script src={% static "admin-theme/app-assets/js/scripts/forms/select/form-select2.js" %}></script>
{% endblock page_js %}