{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-12">
		<div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card card-border-shadow-primary h-100">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="card-title mb-0">
                            <h5 class="mb-0 me-2">{% if object.team_or_individual in "at" %}تیمی{% else %}فردی{% endif %}</h5>
                            <small>نوع درخواست</small>
                        </div>
                        <div class="card-icon">
                            <span class="badge bg-label-primary rounded-pill p-2">
                                <i class="ti ti-user-question ti-md"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card card-border-shadow-primary h-100">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="card-title mb-0">
                            <h5 class="mb-0 me-2">{{object.user.get_full_name}}</h5>
                            <small>درخواست دهنده</small>
                        </div>
                        <div class="card-icon">
                            <span class="badge bg-label-primary rounded-pill p-2">
                                <i class="ti ti-user ti-md"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card card-border-shadow-primary h-100">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="card-title mb-0">
                            <h5 class="mb-0 me-2">{{object.complete_registration_date|to_jalali}}</h5>
                            <small>تاریخ تکمیل و ارسال</small>
                        </div>
                        <div class="card-icon">
                            <span class="badge bg-label-primary rounded-pill p-2">
                                <i class="ti ti-calendar ti-md"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card card-border-shadow-warning h-100">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="card-title mb-0">
                            <h5 class="mb-0 me-2">{{object.complete_registration_date|to_jalali}}</h5>
                            <small>امتیاز این درخواست</small>
                        </div>
                        <div class="card-icon">
                            <span class="badge bg-label-warning rounded-pill p-2">
                                <i class="ti ti-medal ti-md"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

		</div>
	</div>

    {% if object.team_or_individual in "ta" %}
    <div class="col-lg-12">
        <div class="card">
            <h5 class="card-header pb-1">اطلاعات اعضای تیم</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr class="">
                            <th scope="col">نام و نام‌خانوادگی</th>
                            <th scope="col">هماهنگ کننده؟</th>
                            <th scope="col">آزمون تست شخصیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in object.team.team_of_team_member.all %}
                        <tr>
                            <td class=""><a href="{% url "account:profile" member.user.uuid %}" class="">{{member.user.get_full_name}}</a></td>
                            <td>
                                {% if member.is_coordinator %}
                                <span class="badge bg-label-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                <span class="text-secondary">***</span>
                                {% endif %}
                            </td>
                            <td><a href="" class="badge bg-label-info"><i class="fa fa-eye"></i> مشاهده</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-lg-12">
        <div class="card">
            <h5 class="card-header pb-1">اطلاعات فرد</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr class="">
                            <th scope="col">نام و نام‌خانوادگی</th>
                            <th scope="col">شماره تماس</th>
                            {% comment %} <th scope="col">استان محل سکونت</th>
                            <th scope="col">شهر محل سکونت</th> {% endcomment %}
                            <th scope="col">فنی یا بیزسی</th>
                            <th scope="col">آزمون تست شخصیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class=""><a href="{% url "account:profile" object.user.uuid %}" class="">{{object.user.get_full_name}}</a></td>
                            <td class="">{{object.user.phone_number}}</td>
                            {% comment %} <td class="">{{object.user.province}}</td>
                            <td class="">{{object.user.city}}</td> {% endcomment %}
                            <td class="">{{object.user.get_type_display}}</td>
                            <td><a href="" class="badge bg-label-info"><i class="fa fa-eye"></i> مشاهده</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Striped Rows -->
    <div class="col-12 mt-4">
        <div class="card">
            <h5 class="card-header pb-1">اطلاعات کلی درخواست</h5>
            <div class="table-responsive text-nowrap">
                {% if object.team_or_individual in "ta" %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-3" scope="col">نام تیم</th>
                            <th scope="col">حوضه فعالیت</th>
                            <th scope="col">تعداد اعضا</th>
                            <th scope="col">نام محصول/ایده</th>
                            <th scope="col">وضعیت محصول/ایده</th>
                            {% if object.team.team_of_plan.first.status == "m" %}
                            <th scope="col">وضعیت محصول</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td>{{object.team.name}}</td>
                            <td>{{object.team.category}}</td>
                            <td>{{object.team.team_member_count}}</td>
                            <td>{{object.team.team_of_plan.first.name}}</td>
                            <td>{{object.team.team_of_plan.first.get_status_display}}</td>
                            {% if object.team.team_of_plan.first.status == "m" %}
                            <td>{{object.team.team_of_plan.first.get_progress_status_display}}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">نام محصول/ایده</th>
                            <th scope="col">وضعیت محصول/ایده</th>
                            {% if object.user.user_of_plan.first.status == "m" %}
                            <th scope="col">وضعیت محصول</th>
                            {% endif %}
                            <th scope="col">نتیجه چالش انجام شده</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td>{{object.user.user_of_plan.first.name}}</td>
                            <td>{{object.user.user_of_plan.first.get_status_display}}</td>
                            {% if object.user.user_of_plan.first.status == "m" %}
                            <td>{{object.user.user_of_plan.first.get_progress_status_display}}</td>
                            {% endif %}
                            <td><a href={% url "quiz:task-response-detail" object.road.uuid object.user.uuid %} class="badge bg-label-info"><i class="fa fa-eye"></i> مشاهده پاسخ کاربر</i></a></td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <!--/ Striped Rows -->

    <div class="col-lg-12 mt-4">
        <div class="card">
            <h5 class="card-header pb-1">اطلاعات ایده</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>نام ایده</th>
                            <th>دسته بندی</th>
                            <th>دارای کمینه</th>
                            <th>سطح محصول</th>
                            <th>فیلم ارسال شده</th>
                            <th>فایل pitch deck</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object.team_or_individual in "at" %}
                            {% for idea in object.team.team_of_plan.all %}
                                <tr>
                                    <td class="font-weight-bold">{{idea.name|truncatechars:25}}</td>
                                    <td>{{idea.industry|default_if_none:"**"}}</td>
                                    <td>{% if idea.status == "m" %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                    <td>{{idea.get_progress_status_display}}</td>
                                    <td>{% if idea.video %}<a class="badge bg-label-info" target="blank" href="{{idea.video.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                    <td>{% if idea.pitch_deck %}<a class="badge bg-label-info" target="blank" href="{{idea.pitch_deck.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for idea in object.user.user_of_plan.all %}
                                <tr>
                                    <td class="font-weight-bold">{{idea.name|truncatechars:25}}</td>
                                    <td>{{idea.industry|default_if_none:"**"}}</td>
                                    <td>{% if idea.status == "m" %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                    <td>{{idea.get_progress_status_display}}</td>
                                    <td>{% if idea.video %}<a class="badge bg-label-info" target="blank" href="{{idea.video.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                    <td>{% if idea.pitch_deck %}<a class="badge bg-label-info" target="blank" href="{{idea.pitch_deck.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if object.is_valid_registration_period < 2 %}
    <div class="col-lg-4 mt-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">اختصاص زمان بیشتر برای مهلت تکمیل اطلاعات</h4>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <form method="POST" action="{% url "team:save-extra-day-for-complete-registration" %}">
                        {% csrf_token %}
                        <input name="registration_object_uuid" value="{{object.uuid}}" hidden>
                        {% for field in extra_day_form %}
                            {% if not field.name == "registration_object_uuid" %}
                                {{ field|as_crispy_field }}
                            {% endif %}
                        {% endfor %}

                        <button class="btn btn-success btn-block" type="submit">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-12 mt-4">
        {% if not object.status in "a" %}<a href={% url "team:approve_registration" object.uuid %} class="btn btn-success">تایید درخواست <i class="feather icon-check"></i></a>{% endif %}
        {% if not object.status in "r" %}<a href={% url "team:reject_registration" object.uuid %} class="btn btn-danger">رد درخواست <i class="feather icon-trash-2"></i></a>{% endif %}
    </div>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}