{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href={% static "admin-theme/app-assets/vendors/css/forms/select/select2.min.css" %}>
<link rel="stylesheet" type="text/css" href={% static "admin-theme/app-assets/css-rtl/pages/faq.css" %}>
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-12">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header d-flex align-items-start pb-0">
						<div>
							<h2 class="text-bold-700 mb-0">{% if object.team_or_individual in "at" %}تیمی{% else %}فردی{% endif %}</h2>
							<p class="mt-25">نوع درخواست</p>
						</div>
						<div class="avatar bg-rgba-primary p-50 m-0">
							<div class="avatar-content">
								<i class="feather icon-users text-primary font-medium-5"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-header d-flex align-items-start pb-0">
						<div>
							<h2 class="text-bold-700 mb-0">{{object.user.get_full_name}}</h2>
							<p class="mt-25">درخواست دهنده</p>
						</div>
						<div class="avatar bg-rgba-primary p-50 m-0">
							<div class="avatar-content">
								<i class="feather icon-user text-primary font-medium-5"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

            <div class="col-md-4">
				<div class="card">
					<div class="card-header d-flex align-items-start pb-0">
						<div>
							<h2 class="text-bold-700 mb-0">{{object.complete_registration_date|to_jalali}}</h2>
							<p class="mt-25">تاریخ تکمیل و ارسال</p>
						</div>
						<div class="avatar bg-rgba-primary p-50 m-0">
							<div class="avatar-content">
								<i class="feather icon-calendar text-primary font-medium-5"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">اطلاعات کلی درخواست ارسالی به شما</h4>
            </div>
            <div class="card-content">
                {% if object.team_or_individual in "ta" %}
                <table class="table table-responsive mt-2 mb-0 table-bordered">
                    <thead>
                        <tr class="text-dark">
                            <th class="col-3" scope="col">نام تیم</th>
                            <th scope="col">حوضه فعالیت</th>
                            <th scope="col">تعداد اعضا</th>
                            <th scope="col">نام محصول/ایده</th>
                            <th scope="col">وضعیت محصول/ایده</th>
                            {% if object.team.team_of_plan.first.status == "m" %}
                            <th scope="col">وضعیت محصول</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{object.team.name}}</td>
                            <td>{{object.team.category}}</td>
                            <td>{{object.team.team_member_count}}</td>
                            <td>{{object.team.team_of_plan.first.name}}</td>
                            <td>{{object.team.team_of_plan.first.get_status_display}}</td>
                            {% if object.team.team_of_plan.first.status == "m" %}
                            <td>{{object.team.team_of_plan.first.get_progress_status_display}}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                {% else %}
                <table class="table table-responsive mt-2 mb-0 table-bordered">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">نتیجه چالش انجام شده</th>
                            <th scope="col">نام محصول/ایده</th>
                            <th scope="col">وضعیت محصول/ایده</th>
                            {% if object.user.user_of_plan.first.status == "m" %}
                            <th scope="col">وضعیت محصول</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href={% url "quiz:task-response-detail" object.road.uuid object.user.uuid %} class="badge badge-info"><i class="fa fa-eye"></i> مشاهده پاسخ کاربر</i></a></td>
                            <td>{{object.user.user_of_plan.first.name}}</td>
                            <td>{{object.user.user_of_plan.first.get_status_display}}</td>
                            {% if object.user.user_of_plan.first.status == "m" %}
                            <td>{{object.user.user_of_plan.first.get_progress_status_display}}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>

    {% if object.team_or_individual in "ta" %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">اطلاعات اعضای تیم</h4>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <table class="table table-responsive mb-0 text-dark">
                        <thead>
                            <tr class="">
                                <th scope="col">نام و نام‌خانوادگی</th>
                                <th scope="col">هماهنگ کننده؟</th>
                                <th scope="col">آزمون تست شخصیت</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in object.team.team_of_team_member.all %}
                            <tr>
                                <td class="">{{member.user.get_full_name}}</td>
                                <td>
                                    {% if member.is_coordinator %}
                                    <span class="badge badge-success"><i class="feather icon-check"></i></span>
                                    {% else %}
                                    <span class="text-secondary">***</span>
                                    {% endif %}
                                </td>
                                <td><a href="" class="badge badge-info">مشاهده</i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">اطلاعات فرد</h4>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <table class="table table-responsive mb-0 text-dark">
                        <thead>
                            <tr class="">
                                <th scope="col">نام و نام‌خانوادگی</th>
                                <th scope="col">شماره تماس</th>
                                <th scope="col">تاریخ تولد</th>
                                <th scope="col">مقطع تحصیلی</th>
                                <th scope="col">محل تحصیل</th>
                                {% comment %} <th scope="col">استان محل سکونت</th>
                                <th scope="col">شهر محل سکونت</th> {% endcomment %}
                                <th scope="col">فنی یا بیزسی</th>

                                <th scope="col">فایل رزومه</th>
                                <th scope="col">زبانه تخصصی</th>
                                <th scope="col">زمینه تخصصی</th>
                                <th scope="col">آزمون تست شخصیت</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="">{{object.user.get_full_name}}</td>
                                <td class="">{{object.user.phone_number}}</td>
                                <td class="">{{object.user.birthday|to_jalali}}</td>
                                <td class="">{{object.user.get_degree_display}}</td>
                                <td class="">{{object.user.college_name}}</td>
                                {% comment %} <td class="">{{object.user.province}}</td>
                                <td class="">{{object.user.city}}</td> {% endcomment %}
                                <td class="">{{object.user.get_type_display}}</td>

                                <td>{% if object.user.resume_file %}<a class="badge badge-info" target="blank" href="{{object.user.resume_file.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                <td class="">{{object.user.programming_language}}</td>
                                <td class="">{{object.user.specialty}}</td>
                                <td><a href="" class="badge badge-info"><i class="fa fa-eye"></i> مشاهده</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">اطلاعات ایده</h4>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <table class="table table-responsive mb-0 text-dark">
                        <thead>
                            <tr>
                                <th>نام ایده</th>
                                <th>توضیحات</th>
                                <th>دارای کمینه</th>
                                <th>سطح محصول</th>
                                <th>فیلم ارسال شده</th>
                                <th>فایل pitch deck</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object.team_or_individual in "at" %}
                                {% for idea in object.team.team_of_plan.all %}
                                    <tr>
                                        <td class="font-weight-bold">{{idea.name|truncatechars:25}}</td>
                                        <td>{{idea.description|truncatechars:25}}</td>
                                        <td>{% if idea.status == "m" %}<span class="badge badge-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                        <td>{{idea.get_progress_status_display}}</td>
                                        <td>{% if idea.video %}<a class="badge badge-info" target="blank" href="{{idea.video.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                        <td>{% if idea.pitch_deck %}<a class="badge badge-info" target="blank" href="{{idea.pitch_deck.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% for idea in object.user.user_of_plan.all %}
                                    <tr>
                                        <td class="font-weight-bold">{{idea.name|truncatechars:25}}</td>
                                        <td>{{idea.description|truncatechars:25}}</td>
                                        <td>{% if idea.status == "m" %}<span class="badge badge-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                        <td>{{idea.get_progress_status_display}}</td>
                                        <td>{% if idea.video %}<a class="badge badge-info" target="blank" href="{{idea.video.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                        <td>{% if idea.pitch_deck %}<a class="badge badge-info" target="blank" href="{{idea.pitch_deck.url}}"><i class="fa fa-eye"></i> مشاهده</a>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if object.is_valid_registration_period < 2 %}
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">اختصاص زمان بیشتر برای مهلت تکمیل اطلاعات</h4>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <form method="POST">
                        {% csrf_token %}
                        <input name="registration_object_uuid" value="{{object.uuid}}" hidden>
                        <div class="row">
                            {% for field in form %}
                                {% if not field.name == "registration_object_uuid" %}
                                <div class="col-md-4">
                                    {% if field.name == "subjects" %}<a href={% url "company:new-subject" %} class="small badge badge-primary" target="popup"  onclick="window.open('{% url "company:new-subject" %}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"><i class="feather icon-plus"></i> موضوع جدید</a>{% endif %}
                                    {{ field|as_crispy_field }}
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <button class="btn btn-success btn-block" type="submit">ایجاد فصل</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-12">
        {% if not object.status in "a" %}<a href={% url "team:approve_registration" object.uuid %} class="btn btn-success">تایید درخواست <i class="feather icon-check"></i></a>{% endif %}
        {% if not object.status in "r" %}<a href={% url "team:reject_registration" object.uuid %} class="btn btn-danger">رد درخواست <i class="feather icon-trash-2"></i></a>{% endif %}
    </div>

</div>
{% endblock main %}

{% block page_js %}
<script src={% static "admin-theme/app-assets/vendors/js/forms/select/select2.full.min.js" %}></script>
<script src={% static "admin-theme/app-assets/js/scripts/forms/select/form-select2.js" %}></script>
<script src={% static "admin-theme/app-assets/js/scripts/pages/faq-kb.js" %}></script>
{% endblock page_js %}