{% extends "base.html" %}

{% load static %}

{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href={% static "admin-theme/app-assets/vendors/css/forms/select/select2.min.css" %}>

<link rel="stylesheet" type="text/css" href={% static "jalali-date-picker/persian-datepicker.css" %}>
{% endblock page_css %}

{% block main %}
<div class="row">
        
    {% include "elements/messages-section.html" %}

    {% if form.non_field_errors %}
    <div class="col-12">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p class="mb-0">
                    لطفا یک نام کاربری و رمز عبور صحیح وارد کنید. توجه داشته باشید که هر دو قسمت ممکن است به حروف کوچک و بزرگ حساس باشند.
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">ویرایش پروفایل</h4>
            </div>
            <div class="card-content">
                <div class="card-body">

                    <div class="row">
                        <div class="col-xl-2 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>نام و نام خانوادگی</label>
                                <input type="text" value="{{object.get_full_name}}" class="form-control" disabled>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>شماره همراه</label>
                                <input type="text" value="{{object.phone_number}}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>تاریخ تولد</label>
                                <input type="text" value="{{object.birthday|to_jalali}}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>تجربه شرکت در برنامه شتابدهی</label>
                                <input type="text" value="{{object.get_is_accelerator_experience_display}}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>تجربه استارتاپی شما</label>
                                <input type="text" value="{{object.get_is_startup_experience_display}}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>نقش شما</label>
                                <input type="text" value="{{object.get_type_display}}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>ضمینه تخصصی شما</label>
                                <input type="text" value="{{object.specialty}}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>

                    <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12 divider divider-danger">
                                    <div class="divider-text">اطلاعات فردی</div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        {% if request.user.is_team_member %}
                                        <div class="col-xl-4 col-md-6 col-12">
                                            {{ form.email|as_crispy_field }}
                                        </div>
                                        <div class="col-xl-4 col-12">
                                            {{ form.degree|as_crispy_field }}
                                        </div>
                                        <div class="col-xl-4 col-12">
                                            {{ form.college_name|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.interests|as_crispy_field }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.abilities|as_crispy_field }}
                                        </div>
                                        <div class="col-4">
                                            {{ form.province|as_crispy_field }}
                                        </div>
                                        <div class="col-4">
                                            {{ form.city|as_crispy_field }}
                                        </div>
                                        <div class="col-4">
                                            {{ form.number_id|as_crispy_field }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            {{ form.bio|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-block btn-info mr-1 mb-1">بروزرسانی</button>
                                </div>
                            </div>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock main %}

{% block page_js %}
<script src={% static "admin-theme/app-assets/vendors/js/forms/select/select2.full.min.js" %}></script>
<script src={% static "admin-theme/app-assets/js/scripts/forms/select/form-select2.js" %}></script>
{% endblock page_js %}
