{% extends "base.html" %}

{% load static %}

{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href={% static "admin-theme/app-assets/vendors/css/forms/select/select2.min.css" %}>

<link rel="stylesheet" type="text/css" href={% static "jalali-date-picker/persian-datepicker.css" %}>
{% endblock page_css %}

{% block main %}
<div class="row">
        
    {% include "elements/messages-section.html" %}

    {% if form.non_field_errors %}
    <div class="col-12">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p class="mb-0">
                    لطفا یک نام کاربری و رمز عبور صحیح وارد کنید. توجه داشته باشید که هر دو قسمت ممکن است به حروف کوچک و بزرگ حساس باشند.
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">ویرایش پروفایل</h4>
            </div>
            <div class="card-content">
                <div class="card-body">

                    <div class="row">
                        <div class="col-xl-2 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>نام و نام خانوادگی</label>
                                <input type="text" value="{{object.get_full_name}}" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>کدملی</label>
                                <input type="text" value="{{object.number_id}}" class="form-control" disabled>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-md-6 col-12">
                            <div id="div_id_birthday" class="form-group">
                                <label>شماره همراه</label>
                                <input type="text" value="{{object.phone_number}}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>

                    <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12 divider divider-danger">
                                    <div class="divider-text">اطلاعات فردی</div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        {% if request.user.is_mentor or request.user.is_team_member %}
                                        <div class="col-xl-2 col-md-6 col-12">
                                            <div id="div_id_birthday" class="form-group">
                                                <label for="id_birthday" class="requiredField">
                                                    تاریخ تولد<span class="asteriskField">*</span> 
                                                    <span class="text-danger">({{object.birthday|to_jalali}})</span> 
                                                </label>
                                                <div>
                                                    <input type="text" name="birthday" value="{{object.birthday|date:"Y-m-d"}}" class="dateinput form-control pwt-datepicker-input-element" required id="id_birthday" autocomplete="off">
                                                </div>
                                                {% if form.birthday.errors %}
                                                <div class="text-danger">
                                                    <ul>
                                                        {% for error in form.birthday.errors %}
                                                        <li>{{ error }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-6 col-12">
                                            {{ form.email|as_crispy_field }}
                                            {% if form.email.errors %}
                                            <div class="text-danger">
                                                <ul>
                                                    {% for error in form.email.errors %}
                                                    <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-xl-3 col-12">
                                            {{ form.major|as_crispy_field }}
                                            {% if form.major.errors %}
                                            <div class="text-danger">
                                                <ul>
                                                    {% for error in form.major.errors %}
                                                    <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-12">
                                            {{ form.interests|as_crispy_field }}
                                            {% if form.interests.errors %}
                                            <div class="text-danger">
                                                <ul>
                                                    {% for error in form.interests.errors %}
                                                    <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% else %}
                                        <div class="col-xl-2 col-md-6 col-12">
                                            {{ form.birthday|as_crispy_field }}
                                            {% if form.birthday.errors %}
                                            <div class="text-danger">
                                                <ul>
                                                    {% for error in form.birthday.errors %}
                                                    <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-12">
                                            {{ form.email|as_crispy_field }}
                                            {% if form.email.errors %}
                                            <div class="text-danger">
                                                <ul>
                                                    {% for error in form.email.errors %}
                                                    <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                    
                                {% if request.user.is_mentor or request.user.is_team_member %}
                                <div class="col-12 divider divider-info">
                                    <div class="divider-text">اطلاعات حرفه ای</div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            {{ form.abilities|as_crispy_field }}
                                            {% if form.abilities.errors %}
                                            <div class="text-danger">
                                                <ul>
                                                    {% for error in form.abilities.errors %}
                                                    <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-12">
                                            {{ form.bio|as_crispy_field }}
                                            {% if form.bio.errors %}
                                            <div class="text-danger">
                                                <ul>
                                                    {% for error in form.bio.errors %}
                                                    <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-block btn-info mr-1 mb-1">بروزرسانی</button>
                                </div>
                            </div>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>

    {% comment %} {% if request.user.is_mentor or request.user.is_team_member %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">افزودن سابقه شغلی</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form" action={% url "account:new-work-experience" %} enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ experience_form.topic|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ experience_form.from_date|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ experience_form.to_date|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ experience_form.type|as_crispy_field }}
                                </div>
                                <div class="col-md-12">
                                    {{ experience_form.description|as_crispy_field }}
                                </div>
                                
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success mr-1 mb-1">ثبت</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <h4 class="mt-3">مسیر های ایجاد شده</h4>
                    <table class="table table-responsive-md mb-0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام مسیر</th>
                                <th scope="col">تعداد فصل ها</th>
                                <th scope="col">حجم صندوق</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for experience in object.user_of_work_experience.all %}
                                <tr>
                                    <th scope="row">{{forloop.counter|stringformat:"02d"}}</th>
                                    <td class="font-weight-bold">{{experience.topic}}</td>
                                    <td class="font-weight-bold">{{experience.from_date|to_jalali}}</td>
                                    <td class="font-weight-bold">{{experience.to_date|to_jalali}}</td>
                                    <td class="font-weight-bold">{{experience.description}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endcomment %}

</div>
{% endblock main %}

{% block page_js %}
<script src={% static "admin-theme/app-assets/vendors/js/forms/select/select2.full.min.js" %}></script>
<script src={% static "admin-theme/app-assets/js/scripts/forms/select/form-select2.js" %}></script>

<script src={% static "jalali-date-picker/jquery-2.2.4.min.js" %}></script>
<script src={% static "jalali-date-picker/persian-date.js" %}></script>
<script src={% static "jalali-date-picker/persian-datepicker.js" %}></script>

<script>
    $(".dateinput").persianDatepicker({
        initialValue: false,
        persianDigit: false,
        format: 'YYYY-MM-DD',
    }
    ).attr("autocomplete", "off")
</script>
{% endblock page_js %}
