{% extends "base.html" %}

{% load static %}
{% load tag_library %}

{% block page_css %}
{% endblock page_css %}

{% block main %}
<div class="row">

	{% include "elements/messages-section.html" %}

	<div class="col-xl-4 mb-4 col-lg-5 col-12">
		<div class="card">
			<div class="d-flex align-items-end row">
				<div class="col-7">
					<div class="card-body text-nowrap">
						<h5 class="card-title mb-0">تبریک {{request.user.first_name}}! 🎉</h5>
						<p class="mb-2">ثبت نامت با موفقیت انجام شد.</p>
						<a class="btn btn-success" href={% url "content:roads" %}>مسیر رشد</a>
					</div>
				</div>
				<div class="col-5 text-center text-sm-left">
					<div class="card-body pb-0 px-0 px-md-4">
						<img alt="عکس پروفایل" height="140" src={% static "assets-vuexy/img/illustrations/card-advance-sale.png" %}>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-8 mb-4 col-lg-7 col-12">
		<div class="card bg-transparent shadow-none border-0">
			<div class="card-body row p-0 pb-3">
				<div class="col-12">
					<h3>به باکسی‌زی خوش آمدید</h3>
					<div class="col-12">
						<p>باکس‌زی سکوی مدیریت هوشمند نوآوری و رشد استارتاپ هست که داخل اون به اعضای اکوسیستم نوآوری و کسب و کار کمک می‌کنیم تا در مسیر رشد هوشمندانه حرکت کنند و این سری ما میزبان <b>"{{request.user.user_of_road_registration.first.road.accelerator.name}}"</b> هستیم.</p>
					</div>
					<div class="d-flex justify-content-between flex-wrap gap-3 me-5">
						<div class="d-flex align-items-center gap-3">
							<span class="bg-label-primary p-2 rounded">
								<i class="ti ti-urgent ti-xl"></i>
							</span>
							<div class="content-right">
								<p class="mb-0">معرفی محصولات</p>
							</div>
						</div>
						<div class="d-flex align-items-center gap-3">
							<span class="bg-label-success p-2 rounded">
								<i class="ti ti-trending-up ti-xl"></i>
							</span>
							<div class="content-right">
								<p class="mb-0">پیشرفت فردی و تیمی</p>
							</div>
						</div>
						<div class="d-flex align-items-center gap-3">
							<span class="bg-label-warning p-2 rounded">
								<i class="ti ti-brand-cashapp ti-xl"></i>
							</span>
							<div class="content-right">
								<p class="mb-0">جذب سرمایه</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock main %}

{% block page_js %}
{% endblock page_js %}