{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<link href={% static "assets-vuexy/vendor/libs/apex-charts/apex-charts.css" %} rel="stylesheet"/>

{% endblock page_css %}

{% block main %}
<!-- Header -->
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
                <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto"> <img src={% static "profile-male2.avif" %} alt="تصویر کاربر" class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img" width="100" height="100"></div>
                    <div class="flex-grow-1 mt-3 mt-sm-5">
                        <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                            <div class="user-profile-info">
                                <h4>{{object.get_full_name}}</h4>
                                <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                                    <li class="list-inline-item d-flex gap-1">{% if object.type == "t" %}<i class="ti ti-crown"></i> توسعه دهنده تکنولوژی {% else %}<i class="ti ti-crown"></i> توسعه دهنده کسب‌وکار{% endif %}</li>
                                    <li class="list-inline-item d-flex gap-1"><i class="ti ti-map-pin"></i> تهران</li>
                                    <li class="list-inline-item d-flex gap-1"> <i class="ti ti-calendar"></i> عضویت در {{object.date_joined|to_jalali}} </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Header -->
    <!-- Navbar pills -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-sm-row mb-4">
                <li class="nav-item"> <a class="nav-link active"><i class="ti-xs ti ti-user-check me-1"></i> مشخصات</a> </li>
                {% if next_url %}
                <li class="nav-item mx-3"> <a href="{{next_url}}" class="nav-link bg-label-primary"><i class="ti-xs ti ti-arrow-back me-1"></i> صفحه قبل</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!--/ Navbar pills -->
    <!-- User Profile Content -->
    <div class="row">
        <div class="col-lg-4 col-md-5 col-md-5">
            <!-- About User -->
            <div class="card mb-4">
                <div class="card-body">
                    <small class="card-text text-uppercase">درباره</small>
                    <ul class="list-unstyled mb-4 mt-2">
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-user text-heading"></i><span class="fw-medium mx-2 text-heading">نام کامل:</span> <span>{{object.get_full_name}}</span>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-crown text-heading"></i><span class="fw-medium mx-2 text-heading">نقش:</span> <span>{{object.get_type_display}}</span></li>
                        <!-- TODO: add gender field -->
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-gender-bigender text-heading"></i><span class="fw-medium mx-2 text-heading">جنسیت:</span> <span>{{object.get_gender_display|default_if_none:"ثبت نشده"}}</span></li>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-calendar-event text-heading"></i><span class="fw-medium mx-2 text-heading">تاریخ تولد:</span> <span>{{object.birthday|to_jalali}}</span></li>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-map-pin text-heading"></i><span class="fw-medium mx-2 text-heading">ساکن:</span> <span>{{object.province}} / {{object.city}}</span></li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <small class="card-text text-uppercase">اطلاعات تماس</small>
                    <ul class="list-unstyled mb-4 mt-2">
                        
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-phone-call"></i><span class="fw-medium mx-2 text-heading">شماره تماس:</span> <span>{{object.phone_number}}</span></li>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-mail"></i><span class="fw-medium mx-2 text-heading">ایمیل:</span> <span>{{object.email}}</span></li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <small class="card-text text-uppercase">اطلاعات تحصیلی</small>
                    <ul class="list-unstyled mb-4 mt-2">
                        <!-- TODO: add education status field -->
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-help-hexagon text-heading"></i><span class="fw-medium mx-2 text-heading"> وضعیت تحصیل:</span> <span>{{object.get_degree_display}}</span></li>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-school text-heading"></i><span class="fw-medium mx-2 text-heading"> آخرین مقطع‌تحصیلی:</span> <span>{{object.get_degree_display}}</span></li>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-map-pin"></i><span class="fw-medium mx-2 text-heading">محل تحصیل:</span> <span>{{object.college_name}}</span></li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <small class="card-text text-uppercase">اطلاعات حرفه‌ای</small>
                    <ul class="list-unstyled mb-4 mt-2">
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-stethoscope"></i><span class="fw-medium mx-2 text-heading">زمینه اصلی تخصص:</span> <span>{{object.specialty}}</span></li>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-device-imac"></i><span class="fw-medium mx-2 text-heading">دیگر تخصص ها:</span> <span>{{object.other_specialties}}</span></li>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-brand-python text-heading"></i><span class="fw-medium mx-2 text-heading">زبان برنامه‌نویسی:</span> <span>{{object.programming_language}}</span></li>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-file-description text-heading"></i><span class="fw-medium mx-2 text-heading">رزومه:</span> <span>{% if object.resume_file %}<a href="{{object.resume_file.url}}" target="blank" class="badge bg-label-info">دانلود</a>{% else %}<a class="badge bg-label-danger">آپلود نشده</a>{% endif %}</span></li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <small class="card-text text-uppercase">فعالیت‌های نوآوری و کسب‌وکار</small>
                    <ul class="list-unstyled mb-4 mt-2">
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-trending-up"></i><span class="fw-medium mx-2 text-heading">تجربه شرکت در برنامه شتابدهی:</span> <span>{{object.get_is_accelerator_experience_display}}</span></li>
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-briefcase"></i><span class="fw-medium mx-2 text-heading">تجربه‌کار یا بنیان‌گذاری استارتاپ:</span> <span>{{object.get_is_startup_experience_display}}</span></li>

                        {% if object.why_us %}
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-question-mark"></i><span class="fw-medium mx-2 text-heading">علت شرکت:</span> <span>{{object.why_us}}</span></li>
                        {% endif %}

                        {% if object.why_us_video %}
                        <li class="d-flex align-items-center mb-2"> <i class="ti ti-question-mark"></i><span class="fw-medium mx-2 text-heading">علت شرکت:</span> <span><a href="{{object.resume_file.url}}" target="blank" class="badge bg-label-info">مشاهده</a></span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!--/ About User -->
        </div>
        
        <div class="col-lg-8 col-md-7 col-md-7">
            <div class="row">

                <div class="col-12 mb-4">
                    <div class="row">
                        <div class="col-xxl-4 col-6 mb-4 mb-xxl-0">
                            <div class="card card-border-shadow-info h-100">
                                <div class="card-body">
                                    <div class="badge p-2 bg-label-info mb-2 rounded">
                                        <i class="ti ti-notes ti-sm"></i>
                                    </div>
                                    <h5 class="card-title mb-1 pt-1">چالش مهارت نرم</h5>
                                    <small class="text-muted"><i class="ti ti-medal-2"></i> 0 امتیاز دریافتی</small>
                                    <p class="mb-2 mt-1">
                                        <a href={% url "quiz:personal-tests-result" object.uuid %} class="badge bg-label-primary"><i class="fa fa-eye"></i> مشاهده چالش</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-4 col-6 mb-4 mb-xxl-0">
                            <div class="card card-border-shadow-info h-100">
                                <div class="card-body">
                                    <div class="badge p-2 bg-label-info mb-2 rounded">
                                        <i class="ti ti-device-gamepad ti-sm"></i>
                                    </div>
                                    <h5 class="card-title mb-1 pt-1">چالش تخصصی</h5>
                                    <small class="text-muted"><i class="ti ti-medal-2"></i> 0 امتیاز دریافتی</small>
                                    <p class="mb-2 mt-1">
                                        <a href={% url "quiz:task-response-detail" object.uuid %} class="badge bg-label-primary"><i class="fa fa-eye"></i> مشاهده چالش</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        {% comment %} <!-- TODO: Enable this later --> {% endcomment %}
                        {% comment %} <div class="col-xxl-4 col-md-12">
                            <div class="card card-border-shadow-success h-100">
                                <div class="card-body d-flex justify-content-between">
                                    <div class="d-flex flex-column">
                                        <div class="card-title mb-auto">
                                            <h5 class="mb-0 text-nowrap">میانگین امیتیاز</h5>
                                            <small>چالش مهارت نرم و چالش تخصصی</small>
                                        </div>
                                        <div class="chart-statistics">
                                            <h3 class="card-title mb-0">4,350</h3>
                                            <small class="text-success text-nowrap fw-medium">
                                                <i class="ti ti-chevron-up me-1"></i>
                                                15.8%
                                            </small>
                                        </div>
                                    </div>
                                    <div id="average-exams-point"></div>
                                </div>
                            </div>
                        </div> {% endcomment %}

                    </div>
                </div>

                {% if object.user_of_team_member.exists %}
                <!-- Teams -->
                <div class="col-12">
                    <div class="card card-action mb-4">
                        <div class="card-header align-items-center">
                            <h5 class="card-action-title mb-0">اطلاعات تیم</h5>
                        </div>
                        <div class="card-body">
                            {% for team in object.user_of_team_member.all %}
                            <div class="table-responsive text-nowrap">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>نام:</th>
                                            <th>موضوع:</th>
                                            <th>تعداد اعضا:</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        <tr>
                                            <td>{{team.team.name}}</td>
                                            <td>{{team.team.category|default_if_none:"ثبت نشده"}}</td>
                                            <td><span class="badge bg-danger">{{team.team.team_member_count}}</span></td>    
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="text-center my-3">
                                    {% if request.user.is_referee %}
                                    <a href={% url "team:plan-team-profile" object.uuid %} class="btn bg-label-primary btn-md">اطلاعات کامل</a>
                                    {% else %}
                                    <a href={% url "team:plan-team-profile" object.uuid %} class="btn bg-label-primary btn-md">اطلاعات کامل</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--/ Teams -->
                {% else %}
                <!-- Teams not found -->
                <div class="col-12">
                    <div class="card text-center mb-4">
                        <h5 class="card-header mb-0 text-danger">این کاربر عضو هیچ تیمی نمی‌باشد</h5>
                    </div>
                </div>
                <!--/ Teams not found -->
                {% endif %}

                {% if object.user_of_plan.exists %}
                <!-- Products -->
                <div class="col-12">
                    <div class="card card-action mb-4">
                        <div class="card-header align-items-center">
                            <h5 class="card-action-title mb-0">اطلاعات ایده یا محصول</h5>
                        </div>
                        <div class="card-body">
                            {% for plan in object.user_of_plan.all %}
                            <div class="table-responsive text-nowrap">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>نام:</th>
                                            <th>موضوع:</th>
                                            <th>وضعیت:</th>
                                            <th>سطح محصول:</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        <tr>
                                            <td>{{plan.name}}</td>
                                            <td>{{plan.industry|default_if_none:"ثبت نشده"}}</td>
                                            <td>{% if plan.status == "i" %}<span class="badge bg-label-success">ایده</span>{% else %}<span class="badge bg-label-success">محصول</span>{% endif %}</td>
                                            {% if plan.status == "m" %}
                                            <td>{{plan.get_progress_status_display}}</td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                </table>

                                {% if not request.user.is_referee %}
                                <div class="text-center my-3">
                                    <a href={% url "team:plan-team-profile" object.uuid %} class="btn bg-label-primary btn-md">اطلاعات کامل</a>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--/ Products -->
                {% else %}
                <!-- Products not found -->
                <div class="col-12">
                    <div class="card text-center mb-4">
                        <h5 class="card-header mb-0 text-danger">ایده‌ای توسط این کاربر ثبت نشده است</h5>
                    </div>
                </div>
                <!--/ Products not found -->
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--/ User Profile Content -->
{% endblock main %}

{% block page_js %}
<script src={% static "assets-vuexy/vendor/libs/apex-charts/apexcharts.js" %}></script>

<script src={% static "assets-vuexy/js/cards-statistics.js" %}></script>

<script>
    let cardColor, shadeColor, labelColor, headingColor, barBgColor, borderColor;

    if (isDarkStyle) {
        cardColor = config.colors_dark.cardColor;
        labelColor = config.colors_dark.textMuted;
        headingColor = config.colors_dark.headingColor;
        shadeColor = 'dark';
        barBgColor = '#8692d014';
        borderColor = config.colors_dark.borderColor;
    } else {
        cardColor = config.colors.cardColor;
        labelColor = config.colors.textMuted;
        headingColor = config.colors.headingColor;
        shadeColor = '';
        barBgColor = '#4b465c14';
        borderColor = config.colors.borderColor;
    }

    const chartColors = {
        donut: {
            series1: config.colors.success,
            series2: '#28c76fb3',
            series3: '#28c76f80',
            series4: config.colors_label.success
        }
    };
</script>

<script>
  const generatedLeadsChartEl = document.querySelector('#average-exams-point'),
  generatedLeadsChartConfig = {
    chart: {
      height: 147,
      width: 130,
      parentHeightOffset: 0,
      type: 'donut'
    },
    labels: ['{{object.get_full_name}}', 'میانگین امتیاز ها', 'بالاترین امتیاز دریافتی توسط یک کاربر', 'نهایت امنیاز'],
    series: [60, 55, 80, 100],
    colors: [
      chartColors.donut.series1,
      chartColors.donut.series2,
      chartColors.donut.series3,
      chartColors.donut.series4
    ],
    stroke: {
      width: 0
    },
    dataLabels: {
      enabled: false,
      formatter: function (val, opt) {
        return parseInt(val) + '%';
      }
    },
    legend: {
      show: false
    },
    tooltip: {
      theme: false
    },
    grid: {
      padding: {
        top: 15,
        right: -20,
        left: -20
      }
    },
    states: {
      hover: {
        filter: {
          type: 'none'
        }
      }
    },
    plotOptions: {
      pie: {
        donut: {
          size: '70%',
          labels: {
            show: true,
            value: {
              fontSize: '1.375rem',
              fontFamily: 'font-primary',
              color: headingColor,
              fontWeight: 500,
              offsetY: -15,
              formatter: function (val) {
                return parseInt(val) + '%';
              }
            },
            name: {
              offsetY: 20,
              fontFamily: 'font-primary'
            },
            total: {
              show: true,
              showAlways: true,
              color: config.colors.success,
              fontSize: '.8125rem',
              label: 'جمع کل',
              fontFamily: 'font-primary',
              formatter: function (w) {
                return '184';
              }
            }
          }
        }
      }
    }
  };
if (typeof generatedLeadsChartEl !== undefined && generatedLeadsChartEl !== null) {
  const generatedLeadsChart = new ApexCharts(generatedLeadsChartEl, generatedLeadsChartConfig);
  generatedLeadsChart.render();
}
</script>
{% endblock page_js %}