{% extends "base.html" %}

{% load static %}
{% load tag_library %}

{% block page_css %}{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-12 card">
        <div class="row">
            <div class="">
                <img src="{% if object.poster %}{{object.poster.url}}{% else %}{% static "no-banner.jpg" %}{% endif %}" alt="{{object.name}}" class="img-fluid">
            </div>
            <div class="">
                <div class="pl-3 pt-3">
                    <h2 class="font-weight-bold">{{object.name}}</h2>
                    <li class="list-group mt-1">
                        <i class="text-black-50 mt-50"><i class="feather icon-tag"></i> هزینه: <span class="{% if object.price <= 0 %}text-warning{% endif %}">{{object.price|not_zero}}</span></i>
                        <i class="text-black-50 mt-50"><i class="feather icon-map-pin"></i> محل برگزاری: {{object.location}}</i>
                        <i class="text-black-50 mt-50">برگزار کننده: <img src={% if object.accelerator.logo %}{{object.accelerator.logo.url}}{% else %}{% static "no-banner.jpg" %}{% endif %} alt={{object.accelerator.name}} class="img-thumbnail" width="100"></i>
                    </li>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <!-- Detail and registration button -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="fa fa-hashtag"></i> وضعیت تکمیل نیازمندی های مسیرآموزشی</h4>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <table class="table table-responsive-md mb-0 border">
                        <thead>
                            <tr class="table-secondary text-center text-dark">
                                <th>وضعیت</th>
                                <th>تکمیل پروفایل</th>
                                <th>آزمون شخصیت</th>
                                <th>ساخت تیم</th>
                                <th>اعضای تیم</th>
                                <th>ثبت ایده/محصول</th>
                                <th>تکمیل مراحل توسط اعضا</th>
                                <th>تاریخ ثبت</th>
                                <th>مهلت باقی مانده</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td class="border ">{{registration_obj.get_status_display}}</td>
                                <td class="border ">{% if request.user.is_profile_complete %}<span class="badge badge-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                <td class="border ">{% if request.user.user_of_personal_test.exists %}<span class="badge badge-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                <td class="border ">{% if request.user.user_of_team_member.first %}<span class="badge badge-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                <td class="border ">{% if request.user.user_of_team_member.first.team.team_member_count > 1 %}<span class="badge badge-success">{{ request.user.user_of_team_member.first.team.team_member_count }} <i class="fa fa-check"></i></span>{% else %}<span class="badge badge-danger">{{ request.user.user_of_team_member.first.team.team_member_count }} <i class="fa fa-times"></i></span>{% endif %}</td>
                                <td class="border ">{% if request.user.user_of_team_member.first.team.team_of_plan.first %}<span class="badge badge-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                <td class="border ">{% if request.user.user_of_team_member.first.team.all_users_completed_registration %}<span class="badge badge-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge badge-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                                <td class="border ">{{registration_obj.complete_registration_date|to_jalali}}</th>
                                <td class="border ">{{registration_obj.is_valid_registration_period}} روز</th>
                            </tr>
                        </tbody>
                    </table>

                    <a href={% url "quiz:pre-register-required" registration_obj.road.uuid %} class="btn btn-block btn-gradient-bg bg-gradient-success mt-2">تکمیل درخواست</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-lg-8">
                <!-- FAQ -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><i class="fa fa-question-circle"></i> سوالات متداول</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <div class="accordion search-content-info" id="accordionExample">
                                <div class="collapse-margin search-content mt-0">
                                    <div class="card-header" id="headingOne" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <span class="lead collapse-title">میشه گام ها و مراحل برنامه به صورت آنلاین هم طی کرد؟</span>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse-margin">
                                    <div class="card-header" id="headingTwo" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="lead collapse-title collapsed">
                                            گام ها و آزمون های دیجی نکست دارای مدال هستند؟
                                        </span>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse-margin search-content">
                                    <div class="card-header" id="headingThree" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="lead collapse-title collapsed">
                                            چجوری به دریافت سرمایه برسم؟
                                        </span>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About accelerator -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><i class="fa fa-question-circle"></i> برگزار کننده این برنامه:</h4>
                    </div>
                    <div class="card-body pb-1">
                        <div class="card-content text-dark">
                            <ul class="list-inline row justify-content-center">
                                <li><img src={% if object.accelerator.logo %}{{object.accelerator.logo.url}}{% else %}{% static "no-banner.jpg" %}{% endif %} alt={{object.accelerator.name}} class="img-thumbnail" width="100"></li>
                                <li class="ml-2">{{object.accelerator.name}}</li>
                                <li class="ml-2"><span class="badge badge-danger">{{object.accelerator.get_type_display}}</span></li>
                            </ul>

                            <p class="mt-3">{{object.accelerator.short_description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-content">
                            <li class="list-group">
                                <i class=""><i class="fa fa-circle-o"></i> شروع: {{object.start_date|to_jalali}}</i>
                                <i class="mt-25"><i class="fa fa-circle-o"></i> پایان: {{object.start_date|to_jalali}}</i>
                                <i class="mt-25"><i class="fa fa-circle-o"></i> مهلت ثبت نام تا: {{object.start_date|to_jalali}}</i>
                                <i class="mt-25"><i class="fa fa-circle-o"></i> شروع برنامه: {{object.start_date|to_jalali}}</i>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}