{% extends "base.html" %}

{% load static %}
{% load tag_library %}

{% block page_css %}
<style>
	.no-background {  
		mix-blend-mode:multiply;
	}
</style>
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-md">
        <div class="card mb-3">
            <div class="row g-8">
                <div class="col-lg-7">
                    <img alt="{{object.name}}" class="card-img card-img-left" src="{% if object.poster %}{{object.poster.url}}{% else %}{% static "no-banner.jpg" %}{% endif %}"/>
                </div>
                <div class="col-lg-5">
                    <div class="card-body">
                        <h5 class="card-title">{{object.name}}</h5>
                        <div class="row">
                            <div class="col-12">
                                <ul class="list-unstyled">
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-currency-dollar text-heading"></i><span class="fw-medium mx-2 text-heading">هزینه:</span> <span>{{object.price|not_zero}}</span></li>
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-map-pin text-heading"></i><span class="fw-medium mx-2 text-heading">محل برگزاری:</span> <span>{{object.location}}</span></li>
                                    <li class="d-flex align-items-center"> <i class="ti ti-rubber-stamp text-heading"></i><span class="fw-medium mx-2 text-heading">برگزار کننده:</span> <span><img src={% if object.accelerator.logo %}{{object.accelerator.logo.url}}{% else %}{% static "no-banner.jpg" %}{% endif %} alt={{object.accelerator.name}} class="img-thumbnail" width="100"></span></li>
                                </ul>
                            </div>
                            <div class="col-12 my-4"><hr></div>
                            <div class="col-12">
                                <ul class="list-unstyled">
                                <li class="d-flex align-items-center mb-2"> <i class="ti ti-calendar-stats"></i><span class="fw-medium mx-2 text-heading">شروع ثبت نام:</span> <span><bdi>{{object.start_date|to_jalali}}</bdi></span></li>
                                <li class="d-flex align-items-center mb-2"> <i class="ti ti-clock-2"></i><span class="fw-medium mx-2 text-heading">پایان ثبت نام:</span> <span><bdi>{{object.publish_date|to_jalali}}</bdi></span></li>
                                <li class="d-flex align-items-center mb-2"> <i class="ti ti-calendar-plus"></i><span class="fw-medium mx-2 text-heading">شروع کمپ:</span> <span><bdi>{{object.registration_deadline|to_jalali}}</bdi></span></li>
                                <li class="d-flex align-items-center"> <i class="ti ti-calendar-off"></i><span class="fw-medium mx-2 text-heading">پایان دوره:</span> <span><bdi>{{object.expiration_date|to_jalali}}</bdi></span></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 mt-2">
        <div class="card">
            <h5 class="card-header">وضعیت تکمیل درخواست ثبت‌نام در مسیر</h5>
            <div class="table-responsive">
                <div class="px-3 mb-3">
                    {% if registration_obj.status != "n" %}
                    <a class="btn btn-success waves-effect mb-2">{{registration_obj.get_status_display}}</a>
                    {% else %}
                        {% if registration_obj.is_valid_registration_period %}
                        <a href={% url "quiz:pre-register-required" registration_obj.road.uuid %} class="btn btn-success waves-effect">ادامه تکمیل درخواست!</a>
                        {% else %}
                        <a href={% url "quiz:pre-register-required" registration_obj.road.uuid %} class="btn btn-success waves-effect">ادامه تکمیل درخواست!</a>
                        {% endif %}
                    {% endif %}
                </div>
                <table class="table">
                    <thead>
                        <tr class="table-primary text-center text-dark">
                            <th class="col-4">آخرین وضعیت درخواست شما</th>
                            <th>تکمیل پروفایل شخصی</th>
                            <th>انجام چالش مهارت نرم</th>

                            {% if registration_obj.team_or_individual != "i" %}
                            <th>تکمیل اطلاعات تیم توسط سرپرست‌تیم</th>
                            <th>ثبت اطلاعات اعضای تیم</th>
                            {% else %}
                            <th>انجام چالش ورودی</th>
                            {% endif %}

                            <th>ثبت اطلاعات و دموی ایده/محصول</th>

                            {% if registration_obj.team_or_individual != "i" %}
                            <th>تکمیل مراحل توسط اعضای تیم</th>
                            {% endif %}

                            {% if registration_obj.status != "n" %}
                            <th>تاریخ تکمیل فرایند ثبت نام</th>
                            {% else %}
                            <th>تاریخ شروع فرایند ثبت‌نام</th>
                            {% endif %}

                            <th>مهلت باقی مانده برای ثبت درخواست</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr class="text-center">
                            <!-- وضعیت درخواست -->
                            <td class="border table-primary">{{registration_obj.get_status_display}}</td>
                            <!-- تکمیل بودن پروفایل -->
                            <td class="border ">{% if request.user.is_profile_complete %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                            <!-- انجام چالش مهارت نرم -->
                            <td class="border ">{% if request.user.user_of_personal_test.exists %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>

                            {% if registration_obj.team_or_individual != "i" %}
                            <!-- تیم؟ -->
                            <td class="border ">{% if request.user.user_of_team_member.first %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                            <!-- تعداد اعضای تیم؟ -->
                            <td class="border ">{% if request.user.user_of_team_member.first.team.team_member_count > 1 %}<span class="badge bg-label-success">{{ request.user.user_of_team_member.first.team.team_member_count }} <i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger">{{ request.user.user_of_team_member.first.team.team_member_count }} <i class="fa fa-times"></i></span>{% endif %}</td>
                            {% else %}
                            <!-- چالش ورودی -->
                            <td class="border ">{% if request.user.user_of_pre_register_task_response.first %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                            {% endif %}

                            <!-- ایده یا محصول -->
                            {% if registration_obj.team_or_individual != "i" %}
                            <td class="border ">{% if request.user.user_of_team_member.first.team.team_of_plan.first %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                            {% else %}
                            <td class="border ">{% if request.user.user_of_plan.first %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                            {% endif %}

                            <!-- تکمیل پروفایل تمام اعضای تیم -->
                            {% if registration_obj.team_or_individual != "i" %}
                            <td class="border ">{% if request.user.user_of_team_member.first.team.all_users_completed_registration %}<span class="badge bg-label-success"><i class="fa fa-check"></i></span>{% else %}<span class="badge bg-label-danger"><i class="fa fa-times"></i></span>{% endif %}</td>
                            {% endif %}

                            {% if registration_obj.status != "n" %}
                            <!-- تاریخ اخرین تغییر کاربر -->
                            <td class="border ">{{registration_obj.client_last_response_date|to_jalali}}</th>
                            <!-- وضعیت ارسال شده درخواست -->
                            <td class="border">ارسال شد<i class="fa fa-check text-success"></i></th>
                            {% else %}
                            <!-- زمان تکمیل درخواست -->
                            <td class="border ">{{registration_obj.complete_registration_date|to_jalali}}</th>
                            <!-- زمان باقی مانده برای تکمیل درخواست -->
                            <td class="border">{% if registration_obj.is_valid_registration_period %}{{registration_obj.is_valid_registration_period}} روز{% else %}<span class="badge bg-label-danger"><i class="fa fa-clock-o"></i></span>{% endif %}</th>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-8 mt-4">
        <!-- FAQ -->
        <h5 class="card-header pb-2"><i class="fa fa-question-circle"></i> سوالات متداول</h5>
        <div class="accordion" id="accordionPayment">
            <div class="card accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="accordionPayment-2" class="accordion-button collapsed" data-bs-target="#accordionPayment-2" data-bs-toggle="collapse" type="button"> آیا برای شرکت در کمپ هزینه‌ای باید پرداخت کرد؟</button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionPayment-2">
                    <div class="accordion-body">خیر، شرکت در کمپ رایگان است.</div>
                </div>
            </div>

            <div class="card accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="accordionPayment-1" aria-expanded="true" class="accordion-button collapsed" data-bs-target="#accordionPayment-1" data-bs-toggle="collapse" type="button"> نحوه تیم‌سازی در کمپ به چه صورت است؟</button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionPayment-1">
                    <div class="accordion-body">افراد شرکت‌کننده در کمپ‌های دیجی‌نکست با کمک و راهنمایی منتورهای متخصص و بر مبنای اطلاعات تکمیل شده افراد و ارزیابی‌های انجام شده در تیم‌هایی با زمینه ایده مشترک قرار می‌گیرند.</div>
                </div>
            </div>

            <div class="card accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="accordionPayment-3" class="accordion-button collapsed" data-bs-target="#accordionPayment-3" data-bs-toggle="collapse" type="button"> آیا به صورت فردی هم امکان شرکت در این دوره وجود دارد؟</button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionPayment-3">
                    <div class="accordion-body"> بله. امکان ثبت‌نام به صورت انفرادی در دو موقعیت توسعه دهنده تکنولوژی و توسعه دهنده کسب‌و‌کار در کمپ دیجی‌نکست وجود دارد.</div>
                </div>
            </div>

            <div class="card accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="accordionPayment-5" class="accordion-button collapsed" data-bs-target="#accordionPayment-5" data-bs-toggle="collapse" type="button"> آیا با هر ایده‌ای امکان شرکت در دوره وجود دارد؟</button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionPayment-5">
                    <div class="accordion-body"> دیجی‌نکست در حوزه زنجیره ارزش تجارت الکترونیک و لبه تکنولوژی میزبان ایده‌های شماست.</div>
                </div>
            </div>

            <div class="card accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="accordionPayment-6" class="accordion-button collapsed" data-bs-target="#accordionPayment-6" data-bs-toggle="collapse" type="button"> اگر کمپ را با موفقیت پشت سر بگذاریم چه اتفاقی می‌افتد؟</button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionPayment-6">
                    <div class="accordion-body"> بعد از اتمام موفق دوره هشت هفته‌ای کمپ استارتاپی تیم‌ها و ایده‌ها فرصت ارائه برای مدیران ارشد دیجی‌نکست، دیجی‌کالا و سرمایه‌گذاران را خواهند داشت که بعد از داوری در صورت پذیرفته شدن وارد فرآیند شتابدهی و سرمایه‌گذاری می‌شوند.</div>
                </div>
            </div>

            <div class="card accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="accordionPayment-7" class="accordion-button collapsed" data-bs-target="#accordionPayment-7" data-bs-toggle="collapse" type="button"> چه کسانی در موضوع منتورشیپ انتقال تجربه می‌کنند؟</button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionPayment-7">
                    <div class="accordion-body"> منتورهای کمپ استارتاپی و فرآیند شتابدهی دیجی‌نکست مدیران ارشد دیجی‌کالا، دیجی‌نکست و افراد متخصص و با تجربه در حوزه فعالیت تیم‌ها هستند.</div>
                </div>
            </div>

            <div class="card accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="accordionPayment-8" class="accordion-button collapsed" data-bs-target="#accordionPayment-8" data-bs-toggle="collapse" type="button"> شرکت در این دوره ها چه کمکی به ما می‌کند؟</button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionPayment-8">
                    <div class="accordion-body"> کمپ استارتاپی دیجی‌نکست با هدف کمک و تسریع شکل‌گیری کسب‌و‌کارهای دانش بنیان و نوآور برگزار می‌شود. به علاوه امکان ورود به فرآیند شتابدهی و سرمایه‌گذاری را نیز برای تیم‌های برتر فراهم می‌کند.</div>
                </div>
            </div>

            <div class="card accordion-item">
                <h2 class="accordion-header">
                    <button aria-controls="accordionPayment-9" class="accordion-button collapsed" data-bs-target="#accordionPayment-9" data-bs-toggle="collapse" type="button"> اگر ایده‌ای نداشته باشیم، امکان شرکت در این برنامه را داریم؟</button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionPayment-9">
                    <div class="accordion-body"> بله. شرکت در کمپ استارتاپی به شما این امکان را می‌دهد تا با تکیه بر مهارت و تخصص خود به ایده‌های جدیدی برسید و یا در تیم‌هایی با ایده‌های مختلف قرار بگیرید.</div>
                </div>
            </div>
        </div>
        <!-- End FAQ -->
    </div>

    <div class="col-lg-4 mt-4">
        <img src={% static "boxzi-infograph.png" %} alt="" class="img-fluid no-background">
    </div>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}