{% extends "registration/register/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    {% if not is_road %}
    <h1 class="text-danger">بازه ثبت نامی شروع نشده است!</h1>
    {% else %}
    <h2>شروع ثبت نام</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="phone_number" maxlength="11" required="" id="id_phone_number" hidden>

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-group">
            {{ form.otp_code|as_crispy_field }}
        </div>
        
        <div class="form-group" style="text-align: right">
            <div id="div_id_team_or_individual" class="form-group">
              <label for="id_team_or_individual" class="requiredField">شخص هستید یا تیم استارتاپی؟</label>
          
              <div>
                <select name="team_or_individual" style="text-align: right" class="select form-control" id="id_team_or_individual" required="">
                  <option value="" selected="">---------</option>
                  <option value="t">شخص</option>
                  <option value="i">تیم استارتاپی</option>
                </select>
              </div>
            </div>
        </div>

        {% for field in form %}
            <div class="form-group">
                {% if not field.name in "phone_number accept_nda otp_code" %}
                {{ field|as_crispy_field }}
                {% endif %}
            </div>
        {% endfor %}

        <div class="form-group">
            {{ form.accept_nda|as_crispy_field }}
        </div>
        
        <div class="form-group">
            <p class="text-center text-success">درخواست شما برای <b>{{is_road.name}}</b> می‌باشد</p>
            <button type="submit" class="fxt-btn-fill">بزن بریم</button>
        </div>
    </form>
    {% endif %}

{% endblock content %}

{% block extra_js %}
<script>
    // Function to get query parameter by name
    function getQueryParameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    // Get the phone_number query parameter
    var phoneNumber = getQueryParameter('phone_number');

    // Set the phone_number input value
    document.getElementById('id_phone_number').value = phoneNumber;
</script>
{% endblock extra_js %}