{% extends "registration/register/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href={% static "jalali-date-picker/persian-datepicker.css" %}>
{% endblock extra_style %}


{% block content %}
    <h2>اطلاعات فردی شما</h2>

    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
            {% if not field.name in "province city" %}
            {% endif %}
            <div class="form-group" style="text-align:right">
                {{ field|as_crispy_field }}
            </div>
        {% endfor %}

        <div class="form-group" style="text-align:right">
            <div id="div_id_degree" class="form-group">
              <div>
                <select class="form-control" name="province" onChange="CityList(this.value);">
                    <option value="0">لطفا استان خود را انتخاب کنید</option>
                    <option value="تهران">تهران</option>
                    <option value="البرز">البرز</option>
                    <option value="گیلان">گیلان</option>
                    <option value="آذربایجان شرقی">آذربایجان شرقی</option>
                    <option value="خوزستان">خوزستان</option>
                    <option value="فارس">فارس</option>
                    <option value="اصفهان">اصفهان</option>
                    <option value="خراسان رضوی">خراسان رضوی</option>
                    <option value="قزوین">قزوین</option>
                    <option value="سمنان">سمنان</option>
                    <option value="قم">قم</option>
                    <option value="مرکزی">مرکزی</option>
                    <option value="زنجان">زنجان</option>
                    <option value="مازندران">مازندران</option>
                    <option value="گلستان">گلستان</option>
                    <option value="اردبیل">اردبیل</option>
                    <option value="آذربایجان غربی">آذربایجان غربی</option>
                    <option value="همدان">همدان</option>
                    <option value="کردستان">کردستان</option>
                    <option value="کرمانشاه">کرمانشاه</option>
                    <option value="لرستان">لرستان</option>
                    <option value="بوشهر">بوشهر</option>
                    <option value="کرمان">کرمان</option>
                    <option value="هرمزگان">هرمزگان</option>
                    <option value="چهارمحال و بختیاری">چهارمحال و بختیاری</option>
                    <option value="یزد">یزد</option>
                    <option value="سیستان و بلوچستان">سیستان و بلوچستان</option>
                    <option value="ایلام">ایلام</option>
                    <option value="کهگلویه و بویراحمد">کهگلویه و بویراحمد</option>
                    <option value="خراسان شمالی">خراسان شمالی</option>
                    <option value="خراسان جنوبی">خراسان جنوبی</option>
                </select>
              </div>
            </div>
        </div>
        
        <div class="form-group" style="text-align:right">
            <div id="div_id_degree" class="form-group">
              <div>
                <select class="form-control" name="city" id="city">
                </select>
              </div>
            </div>
        </div>

        
        <div class="form-group">
            <button type="submit" class="fxt-btn-fill">تائید</button>
        </div>
    </form>
{% endblock content %}


{% block extra_js %}
<script src={% static "city_province/city-province-selector.js" %}></script>
<script src={% static "jalali-date-picker/jquery-2.2.4.min.js" %}></script>
<script src={% static "jalali-date-picker/persian-date.js" %}></script>
<script src={% static "jalali-date-picker/persian-datepicker.js" %}></script>

<script>
    $("#id_birthday").persianDatepicker({
        initialValue: false,
        persianDigit: false,
        format: 'YYYY-MM-DD',
    }
    ).attr("autocomplete", "off")
</script>
{% endblock extra_js %}