{% extends "registration/register/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href={% static "jalali-date-picker/persian-datepicker.css" %}>
{% endblock extra_style %}


{% block content %}
    <h2>تجربه‌ها و تخصص‌های شما</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group" style="text-align:right">
            {{ form.type|as_crispy_field }}
        </div>

        <div class="form-group" id="div_is_programming_language" style="text-align:right;">
            <div class="form-group">
                <label for="is_programming_language" class="requiredField">آیا به زبان برنامه نویسی مسلط هستید؟*</label>
                <div>
                    <input type="checkbox" id="is_programming_language">
              </div>
            </div>
        </div>

        <div class="form-group" id="div_programming_language" style="text-align: right; display: none;">
            <div id="div_id_programming_language" class="form-group">
              <label for="id_programming_language" class="requiredField">زبان برنامه نویسی تخصصی شما*</label>
              <div>
                <select name="programming_language" style="text-align: right" class="select form-control" id="id_programming_language">
                  <option value="Python">Python</option>
                  <option value="php">php</option>
                  <option value=".net">.net</option>
                  <option value="JavaScript">JavaScript</option>
                  <option value="Rust">Rust</option>
                  <option value="Go">Go</option>
                  <option id="others_pr" value="others_pr">دیگر موارد ...</option>
                </select>
              </div>
            </div>
        </div>

        <div class="form-group" id="div_programming_language2" style="text-align: right; display: none;">
            <div id="div_id_programming_language2" class="form-group">
              <label for="id_programming_language2" class="requiredField">
                زبان برنامه نویسی خود را وارید کنید<span class="asteriskField">*</span>
              </label>
              <div>
                <input type="text" name="programming_language2" maxlength="255" style="text-align: right" class="textinput form-control" id="id_programming_language2"/>
              </div>
            </div>
        </div>

        <div class="form-group" id="specialty_div" style="text-align: right">
            <div id="div_id_specialty" class="form-group">
              <label for="id_specialty" class="requiredField">زمینه تخصصی شما چیست؟</label>
              <div>
                <select name="specialty" style="text-align: right" class="select form-control" id="id_specialty">
                    <option class="option_tech" value="Devops">Devops</option>
                    <option class="option_tech" value="Ai">AI & Machine Learning</option>
                    <option class="option_tech" value="Data science">Data Science</option>
                    <option class="option_tech" value="Web Development">Web Development</option>
                    <option class="option_tech" value="Mobile Development">Mobile Development</option>
                    <option class="option_tech" value="Cloud Computing">Cloud Computing</option>
                    <option class="option_tech" value="Cybersecurity">Cybersecurity</option>
                    <option class="option_tech" value="Blockchain">Blockchain</option>
                    <option class="option_tech" value="Internet of Things">Internet of Things (IoT)</option>
                    <option class="option_tech" value="Game Development">Game Development</option>
                    <option class="option_tech" value="Big Data">Big Data</option>
                    <option class="option_tech" value="Frontend Development">Frontend Development</option>
                    <option class="option_tech" value="Backend Development">Backend Development</option>
                    <option class="option_tech" value="Full Stack Development">Full Stack Development</option>
                    <option class="option_tech" value="Database Administration">Database Administration</option>
                    <option class="option_tech" value="Network Administration">Network Administration</option>
                    <option class="option_tech" value="DevSecOps">DevSecOps</option>
                    <option class="option_tech" value="Software Engineering">Software Engineering</option>
                    
                    <option class="option_business" value="مارکتینگ" style="display: none;">مارکتینگ</option>
                    <option class="option_business" value="مدیریت محصول" style="display: none;">مدیریت محصول</option>
                    <option class="option_business" value="فروش" style="display: none;">فروش</option>
                    <option class="option_business" value="توسعه کسب و کار" style="display: none;">توسعه کسب و کار</option>
                    <option class="option_business" value="مالی" style="display: none;">مالی</option>
                    <option class="option_business" value="منابع انسانی" style="display: none;">منابع انسانی</option>
                    <option class="option_business" value="تبلیغات" style="display: none;">تبلیغات</option>
                    <option class="option_business" value="روابط عمومی" style="display: none;">روابط عمومی</option>
                    <option class="option_business" value="خدمات مشتریان" style="display: none;">خدمات مشتریان</option>
                    <option class="option_business" value="لجستیک" style="display: none;">لجستیک</option>
                    <option class="option_business" value="تحقیقات بازار" style="display: none;">تحقیقات بازار</option>
                    <option class="option_business" value="استراتژی" style="display: none;">استراتژی</option>
                    <option class="option_business" value="توسعه سازمانی" style="display: none;">توسعه سازمانی</option>
                    <option class="option_business" value="مدیریت پروژه" style="display: none;">مدیریت پروژه</option>
                    <option class="option_business" value="حقوق" style="display: none;">حقوق</option>
                    <option class="option_business" value="عملیات" style="display: none;">عملیات</option>
                    <option class="option_business" value="مدیریت ریسک" style="display: none;">مدیریت ریسک</option>
                    <option class="option_business" value="بازاریابی دیجیتال" style="display: none;">بازاریابی دیجیتال</option>
                    <option class="option_business" value="تحلیل کسب و کار" style="display: none;">تحلیل کسب و کار</option>
                    <option class="option_business" value="مدیریت زنجیره تأمین" style="display: none;">مدیریت زنجیره تأمین</option>
                    
                  <option id="others" value="others">دیگر موارد ...</option>
                </select>
              </div>
            </div>
        </div>

        <div class="form-group" id="div_others" style="text-align: right; display: none;">
            <div id="div_id_specialty2" class="form-group">
              <label for="id_specialty2" class="requiredField">
                زمینه تخصصی خودرا وارد کنید<span class="asteriskField">*</span>
              </label>
              <div>
                <input type="text" name="" maxlength="255" style="text-align: right" class="textinput form-control" id="id_specialty2"/>
              </div>
            </div>
        </div>


        <div class="form-group" id="div_is_other_specialties" style="text-align:right;">
            <div class="form-group">
                <label for="is_other_specialties" class="requiredField">آیا تخصص دیگری دارید؟*</label>
                <div>
                    <input type="checkbox" id="is_other_specialties">
              </div>
            </div>
        </div>
        <div class="form-group" id="div_other_specialties" style="text-align:right; display: none;">
            {{ form.other_specialties|as_crispy_field }}
        </div>

        <div class="form-group p-0" style="text-align:right">
            {{ form.resume_file|as_crispy_field }}
        </div>
        
        <div class="form-group">
            <button type="submit" class="fxt-btn-fill">تایید</button>
        </div>
    </form>
{% endblock content %}


{% block extra_js %}
<script src={% static "jalali-date-picker/jquery-2.2.4.min.js" %}></script>
<script src={% static "jalali-date-picker/persian-date.js" %}></script>
<script src={% static "jalali-date-picker/persian-datepicker.js" %}></script>
<script>
    $("#id_birthday").persianDatepicker({
        initialValue: false,
        persianDigit: false,
        format: 'YYYY-MM-DD',
    }
    ).attr("autocomplete", "off")
</script>

<script>
    $(document).ready(function(){
        function isProgrammingLanguage() {
            if ($('#is_programming_language').is(":checked"))
            {
                $('#div_programming_language').show();
            } else {
                $('#div_programming_language').hide();
            };
        }

        function isOtherSpecialties() {
            if ($('#is_other_specialties').is(":checked"))
            {
                $('#div_other_specialties').show();
            } else {
                $('#div_other_specialties').hide();
            };
        }

        // Function to update the specialty options based on the type
        function updateSpecialtyOptions() {
            const type = $('#id_type').val();
            if (type === 'b') {
                $('#is_programming_language').prop('checked', false);
                $('#is_other_specialties').prop('checked', false);
                $('.option_tech').hide();
                $('.option_business').show();
                $('#id_specialty').val($('.option_business:first').val());
                $('#div_programming_language').hide();
                $('#div_programming_language2').hide();
                $('#div_is_programming_language').hide();
            } else if (type === 't') {
                $('#is_programming_language').prop('checked', false);
                $('#is_other_specialties').prop('checked', false);
                $('.option_business').hide();
                $('.option_tech').show();
                $('#id_specialty').val($('.option_tech:first').val());
                //$('#div_programming_language').show();
                $('#div_is_programming_language').show();
            }
            handleOthersOption(); // Ensure to handle 'others' option after updating the options
        }

        // Function to handle the 'others' option selection
        function handleOthersOption() {
            if ($('#id_specialty').val() === 'others') {
                $('#div_others').show();
                $('#id_specialty2').attr('name', 'specialty').attr('required', true);
                $('#id_specialty').removeAttr('name').removeAttr('required');
            } else {
                $('#div_others').hide();
                $('#id_specialty2').removeAttr('name').removeAttr('required');
                $('#id_specialty').attr('name', 'specialty');
            }
        }

        // Function to handle the 'others' option selection
        function handleOthersProgrammingLangOption() {
            if ($('#id_programming_language').val() === 'others_pr') {
                $('#div_programming_language2').show();
                $('#id_programming_language2').attr('name', 'programming_language').attr('required', true);
                $('#id_programming_language').removeAttr('name').removeAttr('required');
            } else {
                $('#div_programming_language2').hide();
                $('#id_programming_language2').removeAttr('name').removeAttr('required');
                $('#id_programming_language').attr('name', 'programming_language');
            }
        }

        // Initial update based on the current value of id_type
        updateSpecialtyOptions();

        // Update the options whenever the id_type value changes
        $('#id_type').change(function() {
            updateSpecialtyOptions();
        });

        $('#is_programming_language').change(function() {
            isProgrammingLanguage();
        });

        $('#is_other_specialties').change(function() {
            isOtherSpecialties();
        });

        // Update the visibility of 'div_others' whenever the specialty changes
        $('#id_specialty').change(function() {
            handleOthersOption();
        });

        // Update the visibility of 'id_programming_language' whenever the specialty changes
        $('#id_programming_language').change(function() {
            handleOthersProgrammingLangOption();
        });
    });
</script>
{% endblock extra_js %}