{% extends "registration/register/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href={% static "jalali-date-picker/persian-datepicker.css" %}>
{% endblock extra_style %}


{% block content %}
    <h2>تجارب و اطلاعات مربوط به محیط های استارت‌آپی</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group" style="text-align:right">
            {{ form.type|as_crispy_field }}
        </div>

        <div class="form-group" id="div_programming_language" style="text-align: right; display: none;">
            <div id="div_id_programming_language" class="form-group">
              <label for="id_programming_language" class="requiredField">
                زبان برنامه نویسی تخصصی شما<span class="asteriskField">*</span>
              </label>
              <div>
                <input type="text" name="programming_language" maxlength="255" style="text-align: right" class="textinput form-control" id="id_programming_language"/>
              </div>
            </div>
        </div>

        <div class="form-group" id="specialty_div" style="text-align: right">
            <div id="div_id_specialty" class="form-group">
              <label for="id_specialty" class="requiredField">زمینه تخصصی شما چیست؟</label>
              <div>
                <select name="specialty" style="text-align: right" class="select form-control" id="id_specialty">
                  <option class="option_tech" value="Devops">Devops</option>
                  <option class="option_tech" value="Ai">Ai</option>
                  <option class="option_tech" value="Machine Learning">Machine Learning</option>
                  <option class="option_tech" value="Data science">Data science</option>

                  <option class="option_business" value="مارکتینگ" style="display: none;">مارکتینگ</option>
                  <option class="option_business" value="مدیریت محصول" style="display: none;">مدیریت محصول</option>
                  <option class="option_business" value="فروش" style="display: none;">فروش</option>
                  <option class="option_business" value="توسعه کسب و کار" style="display: none;">توسعه کسب و کار</option>

                  <option id="others" value="others">دیگر موارد ...</option>
                </select>
              </div>
            </div>
        </div>

        <div class="form-group" id="div_others" style="text-align: right; display: none;">
            <div id="div_id_specialty2" class="form-group">
              <label for="id_specialty2" class="requiredField">
                زمینه تخصصی خودرا وارد کنید<span class="asteriskField">*</span>
              </label>
              <div>
                <input type="text" name="" maxlength="255" style="text-align: right" class="textinput form-control" id="id_specialty2"/>
              </div>
            </div>
        </div>

        <div class="form-group" style="text-align:right">
            {{ form.other_specialties|as_crispy_field }}
        </div>

        <div class="form-group" style="text-align:right">
            {{ form.resume_file|as_crispy_field }}
        </div>
        
        <div class="form-group">
            <button type="submit" class="fxt-btn-fill">تائید</button>
        </div>
    </form>
{% endblock content %}


{% block extra_js %}
<script src={% static "jalali-date-picker/jquery-2.2.4.min.js" %}></script>
<script src={% static "jalali-date-picker/persian-date.js" %}></script>
<script src={% static "jalali-date-picker/persian-datepicker.js" %}></script>
<script>
    $("#id_birthday").persianDatepicker({
        initialValue: false,
        persianDigit: false,
        format: 'YYYY-MM-DD',
    }
    ).attr("autocomplete", "off")
</script>

<script>
    $(document).ready(function(){
        // Function to update the specialty options based on the type
        function updateSpecialtyOptions() {
            const type = $('#id_type').val();
            if (type === 'b') {
                $('.option_tech').hide();
                $('.option_business').show();
                $('#id_specialty').val($('.option_business:first').val());
                $('#div_programming_language').hide();
            } else if (type === 't') {
                $('.option_business').hide();
                $('.option_tech').show();
                $('#id_specialty').val($('.option_tech:first').val());
                $('#div_programming_language').show();
            }
            handleOthersOption(); // Ensure to handle 'others' option after updating the options
        }

        // Function to handle the 'others' option selection
        function handleOthersOption() {
            if ($('#id_specialty').val() === 'others') {
                $('#div_others').show();
                $('#id_specialty2').attr('name', 'specialty').attr('required', true);
                $('#id_specialty').removeAttr('name').removeAttr('required');
            } else {
                $('#div_others').hide();
                $('#id_specialty2').removeAttr('name').removeAttr('required');
                $('#id_specialty').attr('name', 'specialty');
            }
        }

        // Initial update based on the current value of id_type
        updateSpecialtyOptions();

        // Update the options whenever the id_type value changes
        $('#id_type').change(function() {
            updateSpecialtyOptions();
        });

        // Update the visibility of 'div_others' whenever the specialty changes
        $('#id_specialty').change(function() {
            handleOthersOption();
        });
    });
</script>
{% endblock extra_js %}