{% extends "base.html" %}

{% load static %}
{% load tag_library %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href={% static "admin-theme/app-assets/css-rtl/pages/dashboard-analytics.css" %}>
<link rel="stylesheet" type="text/css" href={% static "admin-theme/app-assets/css-rtl/pages/card-analytics.css" %}>
{% endblock page_css %}

{% block main %}
<div class="row">

	{% include "elements/messages-section.html" %}

	{% if request.user.is_center_staff %}
	<div class="card bg-transparent shadow-none border-0">
		<div class="card-body row p-0 pb-3">
			<div class="col-12">
				<h3>خوش آمدید، {{request.user.get_full_name}} 👋🏻</h3>
				<div class="col-12 col-lg-7">
					<p>برای شما لیستی از درخواست های تیم ها و افراد آماده کردیم، که میتونید از این صفحه خلاصه اون هارو مشاهده کنی. اگر نیاز به اطلاعات بیشتر داری وارد بخش جزئیات هرکدوم شو و اطلاعات بیشتری درباره هر درخواستی که میخوای پیدا کن.</p>
				</div>
				<div class="d-flex justify-content-between flex-wrap gap-3 me-5">
					<div class="d-flex align-items-center gap-3 me-4 me-sm-0">
						<span class="bg-label-primary p-2 rounded">
							<i class="ti ti-table-heart ti-xl"></i>
						</span>
						<div class="content-right">
							<p class="mb-0">برنامه های برگزار شده</p>
							<h4 class="text-primary mb-0">{{roads_count}}
								<small class="text-muted">برنامه</small>
							</h4>
						</div>
					</div>
					<div class="d-flex align-items-center gap-3">
						<span class="bg-label-success p-2 rounded">
							<i class="ti ti-run ti-xl"></i>
						</span>
						<div class="content-right">
							<p class="mb-0">برنامه های فعال</p>
							<h4 class="text-success mb-0">{{active_roads_count}}
								<small class="text-muted">برنامه</small>
							</h4>
						</div>
					</div>
					<div class="d-flex align-items-center gap-3">
						<span class="bg-label-danger p-2 rounded">
							<i class="ti ti-box-padding ti-xl"></i>
						</span>
						<div class="content-right">
							<p class="mb-0">تعداد کل درخواست ها</p>
							<h4 class="text-danger mb-0">{{requests_count}}
								<small class="text-muted">درخواست</small>
							</h4>
						</div>
					</div>
					<div class="d-flex align-items-center gap-3">
						<span class="bg-label-info p-2 rounded">
							<i class="ti ti-percentage ti-xl"></i>
						</span>
						<div class="content-right">
							<p class="mb-0">درصد قبولی درخواست ها</p>
							<h4 class="text-info mb-0">{{approve_percentage}}
								<small class="text-muted">درصد</small>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="col-12">
		<div class="card bg-gradient-danger">
			<div class="card-header d-flex align-items-start pb-0">
				<div class="mx-auto">
					<h2 class="text-bold-700 mb-1 text-white">برای شما درسترسی به هیچ مرکزی تعریف نشده است!</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			<div class="card-content">
				<div class="card-body">
					<p class="">
						<h2 class="ml-1 mb-1 font-weight-bold">چه باید کرد؟</h2>
						<ul class="list-group">
							<li class="list-group-item">۱. ثبت تیکت برای پشتیبان وب سایت.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}