{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<link href={% static "assets-vuexy/vendor/libs/flatpickr/flatpickr.css" %} rel="stylesheet"/>
<link href={% static "assets-vuexy/vendor/libs/pickr/pickr-themes.css" %} rel="stylesheet"/>

{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block extra_menu %}{% endblock extra_menu %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-12">
        <section id="nav-filled">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card overflow-hidden">
                        <h5 class="card-header pb-3">مدیریت آزمون های ورودی</h5>
                        <div class="card-content">
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input name="accelerator" value="{{acc_object.id}}" hidden>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            {{ form.title|as_crispy_field }}
                                        </div>
                                        <div class="col-lg-6">
                                            {{ form.type|as_crispy_field }}
                                        </div>
                                    </div>
                                    <button class="btn btn-label-success mt-3" type="submit">ایجاد آزمون</button>
                                </form>

                                <table class="table table-responsive-md mt-4">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام آزمون</th>
                                            <th class="text-center">نوع</th>
                                            <th class="text-center">عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for task in acc_object.accelerator_of_pre_register_task.all %}
                                            <tr>
                                                <th scope="row">{{forloop.counter|stringformat:"02d"}}</th>
                                                <td class="font-weight-bold">{{task.title}}</td>
                                                <td class="text-center table-{% if task.type == "t" %}primary{% else %}warning{% endif %}">{{task.get_type_display}}</td>
                                                <td class="text-center">
                                                    <a href={% url "company:update-register-task" task.uuid %} class="badge bg-label-info">ویرایش</a>
                                                    <a href={% url "company:delete-register-task" task.uuid %} class="badge bg-label-danger">حذف <i class="feather icon-trash-2"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
{% endblock main %}

{% block page_js %}
<script src={% static "assets-vuexy/vendor/libs/jdate/jdate.min.js" %}></script>
<script src={% static "assets-vuexy/vendor/libs/flatpickr/flatpickr-jdate.js" %}></script>
<script src={% static "assets-vuexy/vendor/libs/flatpickr/l10n/fa.js" %}></script>

<script src={% static "assets-vuexy/js/forms-pickers-jalali.js" %}></script>
{% endblock page_js %}