{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<link href={% static "assets-vuexy/vendor/libs/select2/select2.css" %} rel="stylesheet"/>

<link href={% static "assets-vuexy/vendor/libs/flatpickr/flatpickr.css" %} rel="stylesheet"/>
<link href={% static "assets-vuexy/vendor/libs/pickr/pickr-themes.css" %} rel="stylesheet"/>
{% endblock page_css %}

{% block extra_menu %}{% endblock extra_menu %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header pb-1">ثبت و مدیریت داورها</h5>
                    <div class="card-content">
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    {% for field in form %}
                                        <div class="col-md-6 mt-2">
                                            {{ field|as_crispy_field }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="text-right">
                                    <button class="btn btn-label-success mt-3" type="submit">ثبت داور</button>
                                </div>
                            </form>
        
                            <h5 class="mt-5">داورهای ثبت شده</h5>
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">نام و نام خانوادگی</th>
                                            <th scope="col">شماره تماس</th>
                                            <th scope="col">نوع داور</th>
                                            <th scope="col">مدت دسترسی</th>
                                            {% comment %} <th scope="col">عملیات</th> {% endcomment %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for person in request.user.access_to_center.referees.all %}
                                            <tr>
                                                <th scope="row">{{forloop.counter|stringformat:"02d"}}</th>
                                                <td class="font-weight-bold"><a class="">{{person.get_full_name}}</a></td>
                                                <td>{{person.phone_number}}</td>
                                                <td>{{person.get_referee_type_display}}</td>

                                                {% if person.referee_validity_left_days.0 == True %}
                                                    <td>{{person.referee_validity_left_days.1}} روز مانده</td>
                                                {% else %}
                                                    <td>{{person.referee_validity_left_days.1}}</td>
                                                {% endif %}

                                                {% comment %} <td><a href="" class="badge bg-label-danger">حذف</a></td> {% endcomment %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock main %}

{% block page_js %}
<script src={% static "assets-vuexy/vendor/libs/select2/select2.js" %}></script>
<script src={% static "assets-vuexy/js/forms-selects.js" %}></script>

<script src={% static "assets-vuexy/vendor/libs/jdate/jdate.min.js" %}></script>
<script src={% static "assets-vuexy/vendor/libs/flatpickr/flatpickr-jdate.js" %}></script>
<script src={% static "assets-vuexy/vendor/libs/flatpickr/l10n/fa.js" %}></script>

<script src={% static "assets-vuexy/js/forms-pickers-jalali.js" %}></script>

<script>
    document.querySelectorAll('.phoneInput').forEach(function (input) {
        input.addEventListener('input', function (e) {
            // Replace any non-numeric character with an empty string
            e.target.value = e.target.value.replace(/\D/g, '');
        });
    });
</script>
{% endblock page_js %}