{% extends "base.html" %}

{% load static %}
{% load tag_library %}

{% block page_css %}{% endblock page_css %}

{% block main %}
<div class="row">

	{% include "elements/messages-section.html" %}

	{% if request.user.is_center_staff %}
	<!-- Hour chart  -->
	<div class="card bg-transparent shadow-none border-0">
		<div class="card-body row p-0 pb-3">
			<div class="col-12">
				<div class="d-flex justify-content-between flex-wrap gap-3 me-5">
					<div class="d-flex align-items-center gap-3 me-4 me-sm-0">
						<span class="bg-label-primary p-2 rounded">
							<i class="ti ti-list-check ti-xl"></i>
						</span>
						<div class="content-right">
							<p class="mb-0">درخواست تکمیل شده</p>
							<h4 class="text-primary mb-0">{{valid_requests_count}}
								<small class="text-muted">درخواست</small>
							</h4>
						</div>
					</div>
					<div class="d-flex align-items-center gap-3">
						<span class="bg-label-success p-2 rounded">
							<i class="ti ti-checks ti-xl"></i>
						</span>
						<div class="content-right">
							<p class="mb-0">درخواست تایید شده</p>
							<h4 class="text-success mb-0">{{approved_requests.count}}
								<small class="text-muted">درخواست</small>
							</h4>
						</div>
					</div>
					<div class="d-flex align-items-center gap-3">
						<span class="bg-label-danger p-2 rounded">
							<i class="ti ti-x ti-xl"></i>
						</span>
						<div class="content-right">
							<p class="mb-0">درخواست رد شده</p>
							<h4 class="text-danger mb-0">{{rejected_requests.count}}
								<small class="text-muted">درخواست</small>
							</h4>
						</div>
					</div>
					<div class="d-flex align-items-center gap-3">
						<span class="bg-label-info p-2 rounded">
							<i class="ti ti-list ti-xl"></i>
						</span>
						<div class="content-right">
							<p class="mb-0">کل درخواست موجود</p>
							<h4 class="text-info mb-0">{{all_requests.count}}
								<small class="text-muted">درخواست</small>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hour chart End  -->

    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><i class="fa fa-hashtag text-black-50"></i> لیست درخواست های تکمیل شده ارسالی برای <span class="font-weight-bold">"{{acc_object.accelerator_of_road.first.name}}"</span></h5>
            </div>
            <div class="card-content">
                <div class="card-body card-dashboard">
                    <div class="table-responsive">
                        <table class="table zero-configuration">
                            <thead>
                                <tr class="table-primary">
									<th>نام و نام خانوادگی</th>
                                    <th>تیم</th>
                                    <th>تاریخ ثبت</th>
                                    <th>وضعیت</th>
                                    <th>امتیاز</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
								{% for item in valid_requests %}
									<tr>
										<td>{{item.user.get_full_name}}</td>
										<td>{% if item.team_or_individual in "ta" %}{{item.team.name}}{% else %}<span class="badge bg-label-warning">شخص</span>{% endif %}</td>
										<td>{{item.client_last_response_date|to_jalali}}</td>
										
										<td class="{% if item.status == "w" %}table-info{% elif item.status == "p" %}table-primary{% elif item.status == "a" %}table-success{% elif item.status == "r" %}table-danger{% elif item.status == "c" %}table-warning{% endif %}">{{item.get_status_display}}</td>
										
										<td>0 امتیاز</td>
										<td>
											<a href={% url "team:registration-detail" item.uuid %} class="badge bg-label-info">مشاهده <i class="fa fa-eye"></i></a>
										</td>
									</tr>
								{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><i class="fa fa-hashtag text-black-50"></i> لیست تمام درخواست ها برای <span class="font-weight-bold">"{{acc_object.accelerator_of_road.first.name}}"</span> (تکمیل شده و تکمیل نشده) </h5>
            </div>
            <div class="card-content">
                <div class="card-body card-dashboard">
                    <div class="table-responsive">
                        <table class="table zero-configuration">
                            <thead>
                                <tr class="table-primary user-select-none">
									<th>#</th>
									<th>نام و نام خانوادگی</th>
                                    <th class="text-center">تیم</th>
                                    <th class="text-center">ایده</th>
                                    <th class="text-center">آزمون</th>
                                    <th class="text-center">چالش</th>
                                    <th class="text-center">تکمیل و ارسال</th>
                                    <th class="text-center">مهلت باقی مانده</th>
                                    <th class="text-center">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
								{% comment %} NOTICE: this file use this <table> template too (./team-management.html) {% endcomment %}
								{% for item in last_10_requests %}
								<tr>
									<td class="user-select-none">{{forloop.counter|stringformat:"02d"}}</td>

									<!-- Full name of the request sender -->
									<td class="user-select-all">
										<a href="{% url "account:profile" item.user.uuid %}" class="">{{item.user.get_full_name}}</a>
									</td>
									<!-- Full name of the request sender -->

									<!-- team or person -->
									<td class="text-center user-select-none">
										{% if item.team_or_individual in "t" %}
											{% if item.team %}
											<span hidden>team</span>{{item.team.name|truncatewords:3}}
											{% else %}
											<span class="text-muted">تیم ساخته نشده!</span>
											{% endif %}	
										{% else %}
											<span class="badge bg-label-warning">شخص</span>
										{% endif %}
									</td>
									<!-- team or person -->

									<!-- Is the idea or product registered? -->
									<td class="text-center user-select-none">
										{% if item.team_or_individual in "t" %}
											{% if item.team and item.team.team_of_plan.exists %}
											<span hidden>1</span><span class="badge bg-label-success"><i class="ti ti-xs ti-checkbox"></i></span>
											{% else %}
											<span hidden>0</span><span class="badge bg-label-danger"><i class="ti ti-xs ti-xbox-x"></i></span>
											{% endif %}	
										{% else %}
											{% if item.user.user_of_plan.exists %}
											<span hidden>1</span><span class="badge bg-label-success"><i class="ti ti-xs ti-checkbox"></i></span>
											{% else %}
											<span hidden>0</span><span class="badge bg-label-danger"><i class="ti ti-xs ti-xbox-x"></i></span>
											{% endif %}
										{% endif %}
									</td>
									<!-- Is the idea or product registered? -->

									<!-- Is personal-test? -->
									<td class="text-center user-select-none">
										{% if item.user.user_of_personal_test.first.final_user_result_url %}
											<span hidden>1</span><span class="badge bg-label-success"><i class="ti ti-xs ti-checkbox"></i></span>
										{% else %}
											<span hidden>0</span><span class="badge bg-label-danger"><i class="ti ti-xs ti-xbox-x"></i></span>
										{% endif %}
									</td>
									<!-- Is personal-test? -->

									<!-- Is challenge done? -->
									<td class="text-center user-select-none">
										{% if item.is_challenge_complete  %}
											<span hidden>1</span><span class="badge bg-label-success"><i class="ti ti-xs ti-checkbox"></i></span>
										{% else %}
											<span hidden>0</span><span class="badge bg-label-danger"><i class="ti ti-xs ti-xbox-x"></i></span>
										{% endif %}
									</td>
									<!-- Is challenge done? -->

									<!-- Is register request complete? -->
									<td class="text-center user-select-none">
										{% comment %} NOTICE: this file use this <table> template too (./team-management.html) {% endcomment %}
										{% if item.team_or_individual == "t" %}
											{% if item.is_complete_registration_for_coordinator %}
											<span hidden>1</span><span class="badge bg-label-success">{% if item.client_last_response_date %}{{item.client_last_response_date|to_jalali}}{% else %}<span class="text-secondary small">ارسال نشده</span>{% endif %}</span>
											{% else %}
											<span hidden>0</span><span class="badge bg-label-danger"><i class="ti ti-xs ti-xbox-x"></i></span>
											{% endif %}
										{% elif item.team_or_individual == "a" %}
											{% if item.is_complete_registration_for_team_member %}
											<span hidden>1</span><span class="badge bg-label-success">{% if item.client_last_response_date %}{{item.client_last_response_date|to_jalali}}{% else %}<span class="text-secondary small">ارسال نشده</span>{% endif %}</span>
											{% else %}
											<span hidden>0</span><span class="badge bg-label-danger"><i class="ti ti-xs ti-xbox-x"></i></span>
											{% endif %}
										{% elif item.team_or_individual == "i" %}
											{% if item.is_complete_registration_for_individual %}
											<span hidden>1</span><span class="badge bg-label-success">{% if item.client_last_response_date %}{{item.client_last_response_date|to_jalali}}{% else %}<span class="text-secondary small">ارسال نشده</span>{% endif %}</span>
											{% else %}
											<span hidden>0</span><span class="badge bg-label-danger"><i class="ti ti-xs ti-xbox-x"></i></span>
											{% endif %}
										{% endif %}
									</td>
									<!-- Is register complete? -->

									<!-- Show the remaining deadline -->
									<td class="text-center user-select-none">
										{% comment %} NOTICE: this file use this <table> template too (./team-management.html) {% endcomment %}
										{% if not item.complete_registration_date %}
										<span hidden>0</span><span class="badge bg-label-danger">{{item.get_status_user_state_display}}</span>
										{% elif item.is_valid_registration_period == "True" %}
										<span hidden>1</span><span class="badge bg-label-success">تکمیل</span>
										{% elif item.is_valid_registration_period > 3 %}
										<span hidden>1</span><span class="badge bg-label-success">{{item.is_valid_registration_period}} روز</span>
										{% elif item.is_valid_registration_period < 3 and item.is_valid_registration_period > 0 %}
										<span class="badge bg-label-warning">{{item.is_valid_registration_period}} روز</span>
										{% else %}
										<span hidden>0</span><span class="badge bg-label-danger">{{item.is_valid_registration_period}} روز</span>
										{% endif %}
									</td>
									<!-- Show the remaining deadline -->

									<!-- Operations button -->
									<td class="text-center user-select-none">
										<a href={% url "team:registration-detail" item.uuid %} class="badge bg-label-info">مشاهده <i class="fa fa-eye"></i></a>
										
										{% if request.user.is_superuser %}
										<small>
											<a href={% url "admin:account_user_change" item.user.phone_number %} target="_blank" class="badge bg-label-dark">فرد <i class="ti ti-spy"></i></a>
											<a href={% url "admin:team_roadregistration_change" item.id %} target="_blank" class="badge bg-label-dark">درخواست <i class="ti ti-spy"></i></a>
										</small>
										{% endif %}
									</td>
									<!-- Operations button -->
								</tr>
								{% endfor %}
                            </tbody>
                        </table>

						{% if all_requests.count > 10 %}
						<div class="text-center my-3">
							<a href={% url "company:all-requests" %} class="btn bg-label-primary btn-md waves-effect waves-light">لیست کامل</a>
						</div>
						{% endif %}

						<div class="border rounded p-2 p-md-4 mt-3">
							<h5 class="mb-2 text-warning"> <i class="ti ti-question-mark"></i> راهنمای مراحل</h5>
							<div class="accordion" id="accordionWithIcon">
								<div class="card accordion-item">
									<h2 class="accordion-header d-flex align-items-center">
										<button aria-expanded="false" class="accordion-button collapsed text-secondary" data-bs-target="#accordionWithIcon-1" data-bs-toggle="collapse" type="button">
											<i class="ti ti-number-2 ti-xs me-2 text-dark"></i>
											مرحله دوم تکمیل ثبت نام <span class="fw-bold text-dark mx-2">(اطلاعات فردی شما)</span>
										</button>
									</h2>
									<div class="accordion-collapse collapse" id="accordionWithIcon-1">
										<div class="accordion-body">
											<h6 class="mt-3">اولین مرحله تکمیل اطلاعات میباشد. قبل این مرحله کاربر فیلدهای زیررا برای ثبت شدن در پلتفرم باکس‌زی وارد کرده است:</h6>
											<ul class="list-group list-group-timeline">
												<li class="list-group-item list-group-timeline-danger">کد یکبارمصرف ارسال شده به موبایل</li>
												<li class="list-group-item list-group-timeline-danger">تیم هستید یا فرد؟</li>
												<li class="list-group-item list-group-timeline-danger">نام</li>
												<li class="list-group-item list-group-timeline-danger">نام خانوادگی</li>
												<li class="list-group-item list-group-timeline-danger">آدرس ایمیل</li>
												<li class="list-group-item list-group-timeline-danger">گذرواژه</li>
											</ul>

											<h6 class="mt-3">و در خود مرحله کاربر باید اطلاعات زیررا وارد کند:</h6>
											<ul class="list-group list-group-timeline">
												<li class="list-group-item list-group-timeline-success">جنستی</li>
												<li class="list-group-item list-group-timeline-success">تاریخ تولد</li>
												<li class="list-group-item list-group-timeline-success">مقطع تحصیلی</li>
												<li class="list-group-item list-group-timeline-success">محل تحصیل</li>
												<li class="list-group-item list-group-timeline-success">استان محل سکونت</li>
												<li class="list-group-item list-group-timeline-success">شهر محل سکونت</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-item card">
									<h2 class="accordion-header d-flex align-items-center">
										<button aria-expanded="false" class="accordion-button collapsed text-secondary" data-bs-target="#accordionWithIcon-2" data-bs-toggle="collapse" type="button">
											<i class="me-2 ti ti-number-3 ti-xs text-dark"></i>
											مرحله سوم تکمیل ثبت نام <span class="fw-bold text-dark mx-2">(تجربه‌ها و تخصص‌های)</span>
										</button>
									</h2>
									<div class="accordion-collapse collapse" id="accordionWithIcon-2">
										<div class="accordion-body">
											<h6 class="mt-3">در این مرحله سوال های زیر از کاربر پرسیده میشود:</h6>
											<ul class="list-group list-group-timeline">
												<li class="list-group-item list-group-timeline-info">نقش شما (توسعه دهنده تکنولوژی / توسعه دهنده کسب و کار)</li>
												<li class="list-group-item list-group-timeline-info">آیا به زبان برنامه نویسی مسلط هستید؟</li>
												<li class="list-group-item list-group-timeline-info">زمینه تخصصی شما چیست؟</li>
												<li class="list-group-item list-group-timeline-info">آیا تخصص دیگری دارید؟</li>
												<li class="list-group-item list-group-timeline-info">فایل pdf رزومه</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-item card">
									<h2 class="accordion-header d-flex align-items-center">
										<button aria-expanded="false" class="accordion-button collapsed text-secondary" data-bs-target="#accordionWithIcon-3" data-bs-toggle="collapse" type="button">
											<i class="me-2 ti ti-number-4 ti-xs text-dark"></i>
											مرحله چهارم تکمیل ثبت نام <span class="fw-bold text-dark mx-2">(داستان استارتاپی)</span>
										</button>
									</h2>
									<div class="accordion-collapse collapse" id="accordionWithIcon-3">
										<div class="accordion-body">
											<h6 class="mt-3">مرحله آخر تکمیل اطلاعات کاربر میباشد و بعد از انجام این مرحله کاربر برنامه داشبورد خود دسترسی خواهد داشت:</h6>
											<ul class="list-group list-group-timeline">
												<li class="list-group-item list-group-timeline-primary">تجربه شرکت در برنامه شتابدهی داشته اید؟</li>
												<li class="list-group-item list-group-timeline-primary">عضو یا بنیانگذار یک استارتاپ بوده اید؟</li>
												<li class="list-group-item list-group-timeline-primary">علت درخواست شرکت در این برنامه (به صورت متن یا ویدیو کوتاه)</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
                    </div>
                </div>
            </div>
        </div>
    </div>
	{% else %}
	<div class="col-12">
		<div class="card bg-gradient-danger">
			<div class="card-header d-flex align-items-start pb-0">
				<div class="mx-auto">
					<h2 class="text-bold-700 mb-1 text-white">شما به هیچ مرکزی دسترسی ندارید!</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			<div class="card-content">
				<div class="card-body">
					<p class="">
						<h2 class="ml-1 mb-1 font-weight-bold">چه باید کرد؟</h2>
						<ul class="list-group">
							<li class="list-group-item">۱. ثبت تیکت برای پشتیبان وب سایت.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}