{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<link href={% static "assets-vuexy/vendor/libs/select2/select2.css" %} rel="stylesheet"/>

{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block extra_menu %}{% endblock extra_menu %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">گام «{{object.title}}»</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input name="accelerator" value="{{acc_object.id}}" hidden>
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.video_link|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.subjects|as_crispy_field }}
                                <a href={% url "company:new-subject" %} class="small badge bg-label-primary mt-1" target="popup"  onclick="window.open('{% url "company:new-subject" %}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"><i class="fa fa-plus"></i> موضوع جدید</a>
                            </div>
                            <div class="col-md-2">
                                {{ form.medals|as_crispy_field }}
                            </div>
                            <div class="col-md-12">
                                {{ form.description|as_crispy_field }}
                            </div>
                            <div class="col-md-12 mt-3">
                                {{ form.content|as_crispy_field }}
                            </div>
                        </div>

                        <button class="btn btn-label-success mt-3" type="submit">ویرایش گام</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock main %}

{% block page_js %}
<script src={% static "assets-vuexy/vendor/libs/select2/select2.js" %}></script>
<script src={% static "assets-vuexy/js/forms-selects.js" %}></script>
{% endblock page_js %}