{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href={% static "admin-theme/app-assets/vendors/css/forms/select/select2.min.css" %}>
{% endblock page_css %}

{% block extra_menu %}{% endblock extra_menu %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header pb-0">سوال های ساخته شده</h5>
            <div class="card-content">
                <div class="card-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام سوال</th>
                                <th scope="col">تعداد گزینه ها</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in object.questions.all %}
                                <tr>
                                    <th scope="row">{{forloop.counter|stringformat:"02d"}}</th>
                                    <td class="font-weight-bold">{{question.text}}</td>
                                    <td>{{question.answers.count|default:"0"}} <span class="text-black-50">سوال</span></td>
                                    <td>
                                        <a href={% url "company:update-question" question.id %} class="badge bg-label-info">ویرایش</a>
                                        <a href={% url "company:delete-question" question.id %} class="badge bg-label-danger">حذف</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    
                    <h5 class="mt-4">فرم ساخت آزمون</h5>
                    <form method="POST" action={% url "company:new-question" object.uuid %}>
                        {% csrf_token %}
                        <input name="accelerator" value="{{acc_object.id}}" hidden>
                        {% for field in question_form %}
                            {% if not field.name == "accelerator" %}
                            <div class="col-md-12">
                                {{ field|as_crispy_field }}
                            </div>
                            {% endif %}
                        {% endfor %}

                        <button class="btn btn-label-success mt-3" type="submit">ثبت سوال</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <h5 class="card-header pb-0">ویرایش «{{object.name}}»</h5>
            <div class="card-content">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input name="accelerator" value="{{acc_object.id}}" hidden>
                        <div class="row">
                            {% for field in form %}
                                {% if not field.name == "accelerator" %}
                                <div class="col-12 mt-3">
                                    {{ field|as_crispy_field }}
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <button class="btn btn-label-success mt-3" type="submit">ویراش فصل</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock main %}

{% block page_js %}
<script src={% static "admin-theme/app-assets/vendors/js/forms/select/select2.full.min.js" %}></script>
<script src={% static "admin-theme/app-assets/js/scripts/forms/select/form-select2.js" %}></script>
{% endblock page_js %}