{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<link href={% static "assets-vuexy/vendor/libs/flatpickr/flatpickr.css" %} rel="stylesheet"/>
<link href={% static "assets-vuexy/vendor/libs/pickr/pickr-themes.css" %} rel="stylesheet"/>

{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block extra_menu %}{% endblock extra_menu %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header pb-0">سوال های ساخته شده</h5>
            <div class="card-content">
                <div class="card-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">نام سوال</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in object.pre_register_of_pre_register_task_question.all %}
                                <tr>
                                    <th scope="row">{{forloop.counter|stringformat:"02d"}}</th>
                                    <td class="font-weight-bold">{{question.title}}</td>
                                    <td>
                                        <a href={% url "company:delete_pre_register_task_question" question.uuid %} class="badge bg-label-danger">حذف</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    
                    <h5 class="mt-4">فرم ساخت آزمون</h5>
                    <form method="POST" action={% url "company:save_pre_register_task_question" object.uuid %}>
                        {% csrf_token %}
                        <input name="pre_register" value="{{acc_object.id}}" hidden>
                        {% for field in question_form %}
                            {% if not field.name in "pre_register accelerator aparat_embed_code" %}
                            <div class="col-md-12 mt-2">
                                {{ field|as_crispy_field }}
                            </div>
                            {% endif %}
                        {% endfor %}

                        <button class="btn btn-label-success mt-3" type="submit">ثبت سوال</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <section id="nav-filled">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card overflow-hidden">
                        <div class="card-header">
                            <h4 class="card-title">مدیریت آزمون های ورودی</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input name="accelerator" value="{{acc_object.id}}" hidden>
                                    <div class="row">
                                        <div class="col-12">
                                            {{ form.title|as_crispy_field }}
                                        </div>
                                        <div class="col-12 mt-2">
                                            {{ form.type|as_crispy_field }}
                                        </div>
                                    </div>
            
                                    <button class="btn btn-label-success mt-3" type="submit">ویرایش آزمون</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
{% endblock main %}

{% block page_js %}
<script src={% static "assets-vuexy/vendor/libs/jdate/jdate.min.js" %}></script>
<script src={% static "assets-vuexy/vendor/libs/flatpickr/flatpickr-jdate.js" %}></script>
<script src={% static "assets-vuexy/vendor/libs/flatpickr/l10n/fa.js" %}></script>

<script src={% static "assets-vuexy/js/forms-pickers-jalali.js" %}></script>
{% endblock page_js %}