{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}

{% comment %} <link href={% static "assets-vuexy/vendor/libs/plyr/plyr.css" %} rel="stylesheet"> {% endcomment %}
<link href={% static "assets-vuexy/vendor/css/pages/app-academy-details.css" %} rel="stylesheet">
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}
    
    <div class="card g-3">
        <div class="card-body row g-3">
            <div class="col-lg-8">
                {% if current_question %}
                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-2 gap-1">
                        <div class="me-1">
                            <h5 class="mb-1">{{current_question.title}}</h5>
                            <p class="mb-1">در دسته بندی:
                                <span class="fw-medium"> {{current_question.pre_register.title}}</span>
                            </p>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="badge bg-label-danger">{{questions_type}}</span>
                        </div>
                    </div>
                    <div class="card academy-content shadow-none border">
                        {% if current_question.aparat_embed_code %}
                        <div class="p-2">
                            <div class="cursor-pointer">
                                {{current_question.aparat_embed_code|safe}}
                            </div>
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="mb-2">توضیحات سوال</h5>
                            <p class="mb-0 pt-1">{{current_question.text.html|safe}}</p>
                            <hr class="my-4">
                            <h5>{% if current_question|is_user_answer_to_question:request.user %}<i class="ti ti-circle-check text-success"></i> ویرایش پاسخ{% else %}ثبت پاسخ{% endif %}</h5>
                            <form method="POST" action={% url "quiz:save_task_question_response" road.pre_register_task.uuid road.uuid %}>
                                {% csrf_token %}
                                <input name="question" value="{{current_question.id}}" hidden>
                                <textarea name="text" class="form-control mb-3" rows="10" placeholder="پاسخ خود را اینجا بنویسید...">{{current_question|is_user_answer_to_question:request.user}}</textarea>
                                {% comment %} <textarea name="text" class="form-control mb-3" rows="10" cols="50" placeholder="پاسخ خود را اینجا بنویسید...">{{question.task_of_pre_register_task_response.first.text}}</textarea> {% endcomment %}

                                {% if current_question|is_user_answer_to_question:request.user %}
                                <button class="btn btn-label-danger btn-block" type="submit">ویرایش پاسخ</button>
                                {% else %}
                                <button class="btn btn-label-success btn-block" type="submit">تایید و ارسال</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                {% else %}
                    {% if questions.count == count_of_responses %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="text-warning"><i class="ti ti-xl ti-star"></i> <i class="ti ti-xl ti-star"></i> <i class="ti ti-xl ti-star"></i></h1>
                            <h4 class="text-warning">عالی، شما تمام سوال هارو پاسخ داده اید</h4>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-4">
                <div class="accordion stick-top accordion-bordered course-content-fixed" id="courseContent">
                    <div class="accordion-item active mb-0">
                        <div class="accordion-header" id="headingOne">
                            <button aria-controls="chapterOne" aria-expanded="true" class="accordion-button bg-lighter rounded-0" data-bs-target="#chapterOne" data-bs-toggle="collapse" type="button">
                                <span class="d-flex flex-column">
                                    <span class="h5 mb-1">لیست سوال ها</span>
                                    <span class="fw-normal text-body">
                                        <bdi>{{questions.count}}</bdi> سوال
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="accordion-collapse collapse show" data-bs-parent="#courseContent" id="chapterOne">
                            <div class="accordion-body py-3 border-top">
                                {% for question in questions %}
                                    <a href="{{request.path}}?{% if next_url %}next={{next_url}}&{% endif %}quid={{question.uuid}}" class="form-check d-flex align-items-center form-check-success mb-3">
                                        <input class="form-check-input" id="defaultCheck{{forloop.counter}}" type="checkbox" disabled {% if question|is_user_answer_to_question:request.user %}checked{% endif %}>
                                        <div class="ms-3">
                                            <span class="mb-0 h6 text-primary">{{forloop.counter}}. {{question.title}}</span>
                                        </div>
                                    </a>
                                    {% if not forloop.last %}
                                    <hr class="my-2">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <a href={% url "quiz:pre-register-required" request.user.user_of_road_registration.first.road.uuid %} class="btn btn-label-info mt-4 d-grid">بازگشت به فرایند تکمیل درخواست</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block page_js %}
{% comment %} <script src={% static "assets-vuexy/vendor/libs/plyr/plyr.js" %}></script> {% endcomment %}
<script src={% static "assets-vuexy/js/app-academy-course-details.js" %}></script>
{% endblock page_js %}