{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}
    
    <div class="col-12">
        <h1 class="text-center">شروع ماجراجویی‌های جدید شما 
            <button class="btn text-nowrap d-inline-block" type="button">
                <span class="tf-icons ti-sm ti ti-clock"></span>
                {% if registration.is_valid_registration_period > 3 %}
                <span class="badge rounded-pill bg-label-success badge-notifications">{{registration.is_valid_registration_period}}</span>
                {% elif registration.is_valid_registration_period < 3 and registration.is_valid_registration_period > 0 %}
                <span class="badge rounded-pill bg-label-warning badge-notifications">{{registration.is_valid_registration_period}}</span>
                {% else %}
                <span class="badge rounded-pill bg-label-danger badge-notifications">{{registration.is_valid_registration_period}}</span>
                {% endif %}
            </button>
        </h1>
    </div>

    {% comment %} progressbar {% endcomment %}
    {% comment %} <div class="col-12 my-2">
        {% if not registration.is_valid_registration_period %}
        <div class="progress progress-bar-dark progress-lg">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width:100%;"></div>
        </div>
        {% else %}
            {% if request.user.is_profile_complete and not request.user.user_of_personal_test.exists and not request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
            <div class="progress progress-bar-success progress-lg">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="20" aria-valuemax="100" style="width:20%;"></div>
            </div>
            {% elif request.user.is_profile_complete and request.user.user_of_personal_test.exists and not request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
            <div class="progress progress-bar-success progress-lg">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:40%;"></div>
            </div>
            {% elif request.user.is_profile_complete and request.user.user_of_personal_test.exists and request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
            <div class="progress progress-bar-success progress-lg">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="60" aria-valuemax="100" style="width:60%;"></div>
            </div>
            {% elif request.user.is_profile_complete and request.user.user_of_personal_test.exists and request.user.user_of_team_member.first and request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
            <div class="progress progress-bar-success progress-lg">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="80" aria-valuemax="100" style="width:80%;"></div>
            </div>
            {% elif request.user.is_profile_complete and request.user.user_of_personal_test.exists and request.user.user_of_team_member.first and request.user.user_of_team_member.first.team.team_member_count > 1 and request.user.user_of_team_member.first.team.team_of_plan.first %}
            <div class="progress progress-bar-success progress-lg">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width:100%;"></div>
            </div>
            {% else %}
            <div class="progress progress-bar-danger progress-lg">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width:100%;"></div>
            </div>
            {% endif %}
        {% endif %}
    </div> {% endcomment %}
    
    <div class="col-12 mt-2">
        <div class="row justify-content-center">
            {% comment %} is profile complete {% endcomment %}
            {% if request.user.is_profile_complete %}
            <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                <div class="card text-white bg-transparent border border-success text-center">
                    <div class="card-content d-flex">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-50">
                                    <h4 class="card-title font-weight-bold">تکمیل اطلاعات</h4>
                                </div>
                                <div class="col-12">
                                    <a class="btn btn-label-success btn-darken-3 waves-effect waves-success disabled">انجام شد <i class="fa fa-check"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                <div class="card text-white bg-transparent border border-info text-center">
                    <div class="card-content d-flex">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-50">
                                    <h4 class="card-title font-weight-bold">تکمیل اطلاعات</h4>
                                </div>
                                <div class="col-12">
                                    <a href="{% url "account:update" request.user.uuid %}?next={{request.path}}" class="btn btn-label-info btn-darken-3 waves-effect waves-light">تکمیل پروفایل</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% comment %} personal test {% endcomment %}
            {% if request.user.user_of_personal_test.exists %}
            <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                <div class="card text-white bg-transparent border border-warning text-center">
                    <div class="card-content d-flex ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-50">
                                    <h3 class="card-title font-weight-bold">چالش مهارت نرم</h3>
                                </div>
                                <div class="col-12">
                                    <a class="btn btn-label-warning btn-darken-3 waves-warning waves-light disabled">لینک آزمون ارسال شد <i class="fa fa-check"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                <div class="card text-white bg-transparent border border-info text-center">
                    <div class="card-content d-flex ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-50">
                                    <h3 class="card-title font-weight-bold">چالش مهارت نرم</h3>
                                </div>
                                <div class="col-12">
                                    <a href="{% url "quiz:pre-register-personal-tests" road.uuid %}?next={{request.path}}" class="btn btn-label-info btn-darken-3 waves-effect waves-light">انجام آزمون</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% comment %} ================ INDIVIDUAL ================ {% endcomment %}
            {% if registration.team_or_individual == "i" %}
                {% comment %} Intro challenge {% endcomment %}
                {% if not challenge_response %}
                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                    <div class="card text-white bg-transparent border border-info text-center">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-50">
                                        <h3 class="card-title font-weight-bold">چالش ورودی</h3>
                                    </div>
                                    <div class="col-12">
                                        {% if registration.user.type == "b" %}
                                        <a href="{% url "quiz:pre-register-challenge" task_business_side.uuid road.uuid %}?next={{request.path}}" class="btn btn-label-info btn-darken-3 waves-effect waves-light">شروع چالش</a>
                                        {% else %}
                                        <a href="{% url "quiz:pre-register-challenge" task.uuid road.uuid %}?next={{request.path}}" class="btn btn-label-info btn-darken-3 waves-effect waves-light">شروع چالش</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                    <div class="card text-white bg-transparent border border-success text-center">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-50">
                                        <h3 class="card-title font-weight-bold">چالش ورودی</h3>
                                    </div>
                                    <div class="col-12">
                                        <a class="btn btn-label-success btn-darken-3 waves-effect waves-success disabled">انجام شد <i class="fa fa-check"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            {% if request.user.user_of_road_registration.first.team_or_individual == "t" %}
                {% comment %} create team {% endcomment %}
                {% if request.user.user_of_team_member.first and request.user.user_of_team_member.first.team.team_member_count > 1 and request.user.user_of_team_member.first.team.team_of_plan.first %}
                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                    <div class="card text-white bg-transparent border border-success text-center">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-50">
                                        <h3 class="card-title font-weight-bold">اطلاعات تیم</h3>
                                    </div>
                                    <div class="col-12">
                                        <a class="btn btn-label-success btn-darken-3 waves-effect waves-success disabled">انجام شد <i class="fa fa-check"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                    <div class="card text-white bg-transparent border border-info text-center">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-50">
                                        <h3 class="card-title font-weight-bold">ثبت هم تیمی</h3>
                                    </div>
                                    <div class="col-12">
                                        <a href="{% url "team:update-team" request.user.user_of_team_member.first.team.uuid %}?next={{request.path}}" class="btn btn-label-info btn-darken-3 waves-effect waves-light">ثبت عضو</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_of_plan.first %}
                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                    <div class="card text-white bg-transparent border border-info text-center">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-50">
                                        <h3 class="card-title font-weight-bold">مدیریت ایده/محصول</h3>
                                    </div>
                                    <div class="col-12">
                                        <a href="{% url "team:update-team" request.user.user_of_team_member.first.team.uuid %}?next={{request.path}}" class="btn btn-label-info btn-darken-3 waves-effect waves-light">ثبت ایده/محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mt-sm-1">
                    <div class="card text-white bg-transparent border border-info text-center">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-50">
                                        <h3 class="card-title font-weight-bold">مدیریت تیم و ایده</h3>
                                    </div>
                                    <div class="col-12">
                                        <a href="{% url "team:manage-teams" %}?next={{request.path}}" class="btn btn-label-info btn-darken-3 waves-effect waves-light">ساخت تیم</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            {% if request.user.user_of_team_member.first.is_owner and registration.team_or_individual == "t" %}
                {% if registration.is_valid_registration_period %}
                    {% if request.user.is_profile_complete and request.user.user_of_personal_test.exists and request.user.user_of_team_member.first and request.user.user_of_team_member.first.team.team_member_count > 1 and request.user.user_of_team_member.first.team.team_of_plan.first %}
                        {% if request.user.user_of_team_member.first.team.all_users_completed_registration %}
                        <div class="col-lg-6 col-md-8 pt-3 mt-5">
                            <div class="card p-3 alert-success text-center">
                                <form method="post" action={% url "team:road-registration" road.uuid %}>
                                    {% csrf_token %}
                                    <h5 class="alert-heading mb-2">تبریک! شما و تمام اعضای تیمتان تمام نیازمندی های ثبت نام برای این مسیر آموزشی را انجام داده اید.</h5>
                                    <button type="submit" class="btn btn-success mt-2">برای ارسال درخواست خود کلیک کنید</button>
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-6 col-md-8 pt-3 mt-5">
                            <div class="card p-3 alert-danger text-center">
                                <div class="">
                                    <h5 class="alert-heading mb-2">{{registration.is_valid_registration_period}} روز زمان باقی مانده است</h5>
                                    <p class="mb-0"> اطلاعات شما و تمام اعضای شما باید ثبت و تایید شوند تا امکان ارسال درخواست برای شما فعال شود.</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                <div class="col-12 mt-3">
                    <div class="divider divider-danger">
                        <div class="divider-text text-danger bg-transparent font-medium-5">مهلت تکمیل ثبت نام شما به پایان رسیده است</div>
                    </div>
                    {% comment %} <button class="btn btn-danger">مهلت تکمیل درخواست ثبت نام در مسیر توسط شما به پایان رسیده است !!</button> {% endcomment %}
                </div>
                {% endif %}
            {% endif %}

            {% if registration.team_or_individual == "i" and registration.is_complete_registration_for_individual %}
                {% if registration.status == "n" %}
                <div class="col-lg-6 col-md-8 pt-3 mt-5">
                    <div class="card p-3 alert-success text-center">
                        <form method="post" action={% url "team:road-registration" road.uuid %}>
                            {% csrf_token %}
                            <h5 class="alert-heading mb-2">تبریک! شما و تمام اعضای تیمتان تمام نیازمندی های ثبت نام برای این مسیر آموزشی را انجام داده اید.</h5>
                            <button type="submit" class="btn btn-success mt-2">برای ارسال درخواست خود کلیک کنید</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="col-12 mt-3" id="final_btn">
                    <button class="btn btn-info">{{registration.get_status_display}}</button>
                </div>
                {% endif %}
            {% endif %}

            {% comment %} ================ INDIVIDUAL ================ {% endcomment %}
            {% if registration.team_or_individual == "i" %}
                {% if not request.user.user_of_plan.first %}
                <div class="row mt-5 justify-content-center">
                    <div class="col-12"><h5 class="text-center">مراحل آپشنال: </h5></div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card text-white bg-transparent border border-dark text-center">
                            <div class="card-content d-flex ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 mb-50">
                                            <h3 class="card-title font-weight-bold">مدیریت ایده/محصول</h3>
                                        </div>
                                        <div class="col-12">
                                            <a href="{% url "team:add-product" %}?next={{request.path}}" class="btn btn-label-primary btn-darken-3 waves-effect waves-light">ثبت ایده/محصول</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row mt-5 justify-content-center">
                    <div class="col-12"><h5 class="text-center">مراحل آپشنال: </h5></div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card text-white bg-transparent border border-success text-center">
                            <div class="card-content d-flex ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 mb-50">
                                            <h3 class="card-title font-weight-bold">مدیریت ایده/محصول</h3>
                                        </div>
                                        <div class="col-12">
                                            <a class="btn btn-label-success btn-darken-3 waves-effect waves-success disabled">انجام شد <i class="fa fa-check"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}

        </div>
    </div>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}