{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}
    
    {% if request.user.type == "t" %}
        {% for question in road.pre_register_task.pre_register_of_pre_register_task_question.all %}
            <div class="col-12 mt-4">
                <div class="card">
                    <h5 class="card-header pb-0">{{forloop.counter}}. {{question.title}}</h5>
                    <div class="card-body">
                        <p class="p-0">{{question.text.html|safe}}</p>

                        <form method="POST" action={% url "quiz:save_task_question_response" road.pre_register_task.uuid road.uuid %}>
                            {% csrf_token %}
                            <input name="question" value="{{question.id}}" hidden>
                            <div class="row">
                                <div class="col-12">
                                    <textarea name="text" class="form-control mb-3" rows="10" cols="50" placeholder="پاسخ خود را اینجا بنویسید...">{{question|is_user_answer_to_question:request.user}}</textarea>
                                    {% comment %} <textarea name="text" class="form-control mb-3" rows="10" cols="50" placeholder="پاسخ خود را اینجا بنویسید...">{{question.task_of_pre_register_task_response.first.text}}</textarea> {% endcomment %}
                                </div>
                            </div>
    
                            <button class="btn btn-label-success btn-block" type="submit">ثبت پاسخ</button>
                        </form>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% elif request.user.type == "b" %}
        {% for question in road.pre_register_task_for_business_side.pre_register_of_pre_register_task_question.all %}
            <div class="col-12 mt-4">
                <div class="card">
                    <h5 class="card-header pb-0">{{forloop.counter}}. {{question.title}}</h5>
                    <div class="card-body">
                        <p class="p-0">{{question.text.html|safe}}</p>

                        <form method="POST" action={% url "quiz:save_task_question_response" road.pre_register_task.uuid road.uuid %}>
                            {% csrf_token %}
                            <input name="question" value="{{question.id}}" hidden>
                            <div class="row">
                                <div class="col-12">
                                    {% if question.task_of_pre_register_task_response.first %}
                                    <textarea name="text" class="form-control mb-3" rows="10" cols="50" placeholder="پاسخ خود را اینجا بنویسید...">{{question.task_of_pre_register_task_response.first.text}}</textarea>
                                    {% else %}
                                    <textarea name="text" class="form-control mb-3" rows="10" cols="50" placeholder="پاسخ خود را اینجا بنویسید..."></textarea>
                                    {% endif %}
                                </div>
                            </div>

                            <button class="btn btn-label-success btn-block" type="submit">ثبت پاسخ</button>
                        </form>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <a href={% url "quiz:pre-register-required" request.user.user_of_road_registration.first.road.uuid %} class="btn btn-label-info mt-4">بازگشت به فرایند تکمیل درخواست</a>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}