{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <h4 class="card-title">پاسخ شما</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input name="user" value="{{request.user.id}}" hidden>
                            <input name="accelerator" value="{{task.id}}" hidden>
                            <input name="accelerator" value="{{road.id}}" hidden>
                            <input name="status" value="w" hidden>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ exam_form.title|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ exam_form.file|as_crispy_field }}
                                </div>
                                <div class="col-12">
                                    {{ exam_form.text|as_crispy_field }}
                                </div>
                            </div>
    
                            <button class="btn btn-success btn-block" type="submit">ثبت پاسخ</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}