{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}
    
    <div class="col-12">
        <h1 class="text-center">تیم هستید یا فرد؟</h1>
    </div>

    <div class="col-12 mt-2">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card text-white gradient-light-warning text-center">
                    <div class="card-content d-flex">
                        <div class="card-body">
                            <img src={% static "team.png" %} alt="element 01" class="img-fluid w-50 float-left px-1">
                            <h4 class="card-title font-weight-bold mt-4">برای تیم</h4>
                            <p class="card-text text-dark">میخواهم در این مسیر رشد همراه با تیمم شرکت کنم</p>
                            <a href="{% url "quiz:pre-register-required-team" road.uuid %}" class="btn btn-warning btn-darken-3 waves-effect waves-dark mt-2">ثبت درخواست</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card text-white gradient-light-primary text-center">
                    <div class="card-content d-flex">
                        <div class="card-body">
                            <img src={% static "individual_man.png" %} alt="element 01" class="img-fluid w-50 float-left px-1">
                            <h4 class="card-title font-weight-bold mt-4">شخصی</h4>
                            <p class="card-text text-dark">در این مسیر رشد به صورت انفرادی شرکت میکنم</p>
                            <a href="{% url "quiz:pre-register-required-individual" road.uuid %}" class="btn btn-primary btn-darken-3 waves-effect waves-dark mt-2">ثبت درخواست</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %} <div class="col-12 mt-4">
        <ul class="nav nav-tabs justify-content-start" role="tablist">
            <li class="nav-item">
                {% if request.user.is_profile_complete and request.user.user_of_personal_test.exists and challenge_response %}
                <a class="nav-link text-success">
                    <i class="fa fa-check"></i>
                    قدم اول: اطلاعات اولیه
                </a>
                {% else %}
                <a class="nav-link active" id="user-info-tab" data-toggle="tab" href="#user-info" aria-controls="user-info" role="tab" aria-selected="true">
                    <img src={% static "icons/weblog.png" %} alt="وبلاگ" width="25" class="mr-25">
                    قدم اول: اطلاعات اولیه
                </a>
                {% endif %}
            </li>
            <li class="nav-item ml-3">
                {% if request.user.is_profile_complete and request.user.user_of_personal_test.exists and challenge_response %}
                <a class="nav-link active" id="road-register-tab" data-toggle="tab" href="#road-register" aria-controls="road-register" role="tab" aria-selected="false">
                    <img src={% static "icons/register.png" %} alt="وبلاگ" width="25" class="mr-25">
                    قدم دوم: بزن بریم
                </a>
                {% else %}
                <a class="nav-link" id="road-register-tab" data-toggle="tab" href="#road-register" aria-controls="road-register" role="tab" aria-selected="false">
                    <img src={% static "icons/register.png" %} alt="وبلاگ" width="25" class="mr-25">
                    قدم دوم: بزن بریم
                </a>
                {% endif %}
            </li>
        </ul>
        <div class="tab-content">
            <!-- First step -->
            <div class="tab-pane {% if not request.user.is_profile_complete or not request.user.user_of_personal_test.exists or not challenge_response %}active{% endif%}" id="user-info" aria-labelledby="user-info-tab" role="tabpanel">
                <div class="row" style="height: 13em; max-height: 100%;">
                    {% if request.user.is_profile_complete %}
                    <div class="col-lg-3 col-md-6 col-sm-12 h-100 mt-3 mt-sm-1">
                        <div class="card text-white gradient-light-success text-center h-100">
                            <div class="card-content d-flex">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="card-title font-weight-bold">تکمیل اطلاعات</h4>
                                        </div>
                                        <div class="col-12 py-1">
                                            <p class="card-text text-dark">شما پروفایل خود را تکمیل کردید</p>
                                        </div>
                                        <div class="col-12">
                                            <a class="btn btn-success btn-darken-3 waves-effect waves-success disabled">انجام شد <i class="fa fa-check"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-3 col-md-6 col-sm-12 h-100 mt-3 mt-sm-1">
                        <div class="card text-white gradient-light-secondary text-center h-100">
                            <div class="card-content d-flex">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="card-title font-weight-bold">تکمیل اطلاعات</h4>
                                        </div>
                                        <div class="col-12 py-1">
                                            <p class="card-text text-dark">پروفایل خودرا تکمیل کنید</p>
                                        </div>
                                        <div class="col-12">
                                            <a href="{% url "account:update" request.user.phone_number %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">تکمیل پروفایل</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if request.user.user_of_personal_test.exists %}
                    <div class="col-lg-3 col-md-6 col-sm-12 h-100 mt-3 mt-sm-1">
                        <div class="card text-white gradient-light-success text-center h-100">
                            <div class="card-content d-flex ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3 class="card-title font-weight-bold">آزمون شخصیت</h3>
                                        </div>
                                        <div class="col-12 py-1">
                                            <p class="card-text text-dark">آزمون را به صورت کامل انجام دادید.</p>
                                        </div>
                                        <div class="col-12">
                                            <a class="btn btn-success btn-darken-3 waves-success waves-light disabled">انجام شد <i class="fa fa-check"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-3 col-md-6 col-sm-12 h-100 mt-3 mt-sm-1">
                        <div class="card text-white gradient-light-secondary text-center h-100">
                            <div class="card-content d-flex ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3 class="card-title font-weight-bold">آزمون شخصیت</h3>
                                        </div>
                                        <div class="col-12 py-1">
                                            <p class="card-text text-dark">بیشتر از ۲۰ دقیقه از شما وقت نمیگیرد</p>
                                        </div>
                                        <div class="col-12">
                                            <a href="{% url "quiz:pre-register-personal-tests" task.uuid road.uuid %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">انجام آزمون</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
    
                    {% if challenge_response %}
                    <div class="col-lg-3 col-md-6 col-sm-12 h-100 mt-3 mt-sm-1">
                        <div class="card text-white gradient-light-success text-center h-100">
                            <div class="card-content d-flex">
                                <div class="card-body">
                                    <h4 class="card-title font-weight-bold">چالش ورودی</h4>
                                    <div class="row">
                                        <div class="col-12 py-1">
                                            <p class="card-text text-dark">تبریک! پاسخ شما توسط شتابدهنده تایید شد</p>
                                        </div>
                                        <div class="col-12">
                                            <a class="btn btn-success btn-darken-3 waves-success waves-light disabled">انجام شد <i class="fa fa-check"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-3 col-md-6 col-sm-12 h-100 mt-3 mt-sm-1">
                        <div class="card text-white gradient-light-secondary text-center h-100">
                            <div class="card-content d-flex">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="card-title font-weight-bold">چالش ورودی</h4>
                                        </div>
                                        <div class="col-12 py-1">
                                            <p class="card-text text-dark">انجام چالش ورودی</p>
                                        </div>
                                        <div class="col-12">
                                            <a href="{% url "quiz:pre-register-challenge" task.uuid road.uuid %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">شروع چالش</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
    
            <!-- Fourth step -->
            {% if request.user.is_profile_complete and challenge_response %}
            <div class="tab-pane {% if request.user.is_profile_complete and request.user.user_of_personal_test.exists and challenge_response %}active{% endif%}" id="road-register" aria-labelledby="road-register-tab" role="tabpanel">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card text-white gradient-light-warning text-center">
                            <div class="card-content d-flex">
                                <div class="card-body">
                                    <img src={% static "team.png" %} alt="element 01" class="img-fluid w-50 float-left px-1">
                                    <h4 class="card-title font-weight-bold mt-4">برای تیم</h4>
                                    <p class="card-text text-dark">میخواهم در این مسیر رشد همراه با تیمم شرکت کنم</p>
                                    <a href="{% url "quiz:pre-register-required-team" task.uuid road.uuid %}" class="btn btn-warning btn-darken-3 waves-effect waves-dark mt-2">ثبت درخواست</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card text-white gradient-light-primary text-center">
                            <div class="card-content d-flex">
                                <div class="card-body">
                                    <img src={% static "individual_man.png" %} alt="element 01" class="img-fluid w-50 float-left px-1">
                                    <h4 class="card-title font-weight-bold mt-4">شخصی</h4>
                                    <p class="card-text text-dark">در این مسیر رشد به صورت انفرادی شرکت میکنم</p>
                                    <a href="{% url "quiz:pre-register-required-individual" task.uuid road.uuid %}" class="btn btn-primary btn-darken-3 waves-effect waves-dark mt-2">ثبت درخواست</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="tab-pane" id="road-register" aria-labelledby="road-register-tab" role="tabpanel">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card text-white gradient-light-secondary text-center">
                            <div class="card-content d-flex">
                                <div class="card-body">
                                    <img src={% static "team.png" %} alt="element 01" class="img-fluid w-50 float-left px-1">
                                    <h4 class="card-title font-weight-bold mt-4">برای تیم</h4>
                                    <p class="card-text text-dark">میخواهم در این مسیر رشد همراه با تیمم شرکت کنم</p>
                                    <a class="btn btn-secondary btn-darken-3 waves-effect waves-dark mt-2 disabled">بزن بریم</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card text-white gradient-light-secondary text-center">
                            <div class="card-content d-flex">
                                <div class="card-body">
                                    <img src={% static "individual_man.png" %} alt="element 01" class="img-fluid w-50 float-left px-1">
                                    <h4 class="card-title font-weight-bold mt-4">شخصی</h4>
                                    <p class="card-text text-dark">در این مسیر رشد به صورت انفرادی شرکت میکنم</p>
                                    <a class="btn btn-secondary btn-darken-3 waves-effect waves-dark mt-2 disabled">بزن بریم</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div> {% endcomment %}

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}