{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-12">
        <h5 class="">درخواست شرکت در چالش مهارت نرم برای شما ثبت شد، لینک از طریق پیامک برای شما ارسال میشود.</h5>
    </div>

    <a href={% url "quiz:pre-register-required" request.user.user_of_road_registration.first.road.uuid %} class="btn btn-label-info">بازگشت به فرایند تکمیل درخواست</a>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}