{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    <div class="col-12">
        <h5 class="mt-4">آکاردئون</h5>
        <div class="row">
            <div class="col-md mb-4 mb-md-2">
                <small class="text-light fw-medium">آکاردئون پایه</small>
                <div class="accordion mt-3" id="accordionExample">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button aria-controls="accordionOne" aria-expanded="true" class="accordion-button" data-bs-target="#accordionOne" data-bs-toggle="collapse" type="button"> محتوای چالش</button>
                        </h2>
                        <div class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="accordionOne">
                            <div class="accordion-body">{{task.text.html|safe}}</div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button aria-controls="accordionTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionTwo" data-bs-toggle="collapse" type="button"> فرم ثبت پاسخ</button>
                        </h2>
                        <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="accordionTwo">
                            <div class="accordion-body">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input name="user" value="{{request.user.id}}" hidden>
                                    <input name="accelerator" value="{{task.id}}" hidden>
                                    <input name="accelerator" value="{{road.id}}" hidden>
                                    <input name="status" value="w" hidden>
                                    <div class="row">
                                        <div class="col-md-8">
                                            {{ exam_form.title|as_crispy_field }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ exam_form.file|as_crispy_field }}
                                        </div>
                                        <div class="col-12">
                                            {{ exam_form.text|as_crispy_field }}
                                        </div>
                                    </div>
            
                                    <button class="btn btn-label-success btn-block" type="submit">ثبت پاسخ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Accordion -->
    </div>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}