{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}
    
    <div class="col-12">
        <h1 class="text-center">شروع ماجراجویی‌های جدید شما</h1>
    </div>
    
    <div class="col-12 mt-4">
        <div class="col-12" id="coordinator_step2">
            <div class="row" style="height: 13em; max-height: 100%;">
                {% if request.user.user_of_plan.exists and not request.user.user_of_plan.first.team %}
                <div class="col-lg-3 col-md-6 col-sm-12 h-100 mt-3 mt-sm-1">
                    <div class="card text-white gradient-light-success text-center h-100">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-title font-weight-bold">ثبت ایده/محصولات</h3>
                                    </div>
                                    <div class="col-12 py-1">
                                        <p class="card-text text-dark">ایده/محصول شما ثبت شده است.</p>
                                    </div>
                                    <div class="col-12">
                                        <a class="btn btn-success btn-darken-3 waves-effect waves-success disabled">انجام شد <i class="fa fa-check"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-3 col-md-6 col-sm-12 h-100 mt-3 mt-sm-1">
                    <div class="card text-white gradient-light-secondary text-center h-100">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-title font-weight-bold">ثبت ایده/محصولات</h3>
                                    </div>
                                    <div class="col-12 py-1">
                                        <p class="card-text text-dark">ایده یا محصول تیم خود را ثبت کنید.</p>
                                    </div>
                                    <div class="col-12">
                                        <a href="{% url "team:add-product" %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">ثبت ایده</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        {% if request.user.user_of_plan.exists and not request.user.user_of_plan.first.team %}
        <div class="col-12" id="final_btn">
            <a href="{% url "quiz:iam-individual" registration.uuid %}" class="btn btn-block bg-gradient-success text-white mt-3">تایید نهایی</a>
        </div>
        {% endif %}
    </div>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}