{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}
    
    <div class="col-12">
        <h1 class="text-center">شروع ماجراجویی‌های جدید شما</h1>
    </div>

    {% comment %} progressbar {% endcomment %}
    <div class="col-12 mt-2">
        {% if request.user.is_profile_complete and not request.user.user_of_personal_test.exists and not request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
        <div class="progress progress-bar-success progress-lg">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="20" aria-valuemax="100" style="width:20%;"></div>
        </div>
        {% elif request.user.is_profile_complete and request.user.user_of_personal_test.exists and not request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
        <div class="progress progress-bar-success progress-lg">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="40" aria-valuemax="100" style="width:40%;"></div>
        </div>
        {% elif request.user.is_profile_complete and request.user.user_of_personal_test.exists and request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
        <div class="progress progress-bar-success progress-lg">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="60" aria-valuemax="100" style="width:60%;"></div>
        </div>
        {% elif request.user.is_profile_complete and request.user.user_of_personal_test.exists and request.user.user_of_team_member.first and request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
        <div class="progress progress-bar-success progress-lg">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="80" aria-valuemax="100" style="width:80%;"></div>
        </div>
        {% elif request.user.is_profile_complete and request.user.user_of_personal_test.exists and request.user.user_of_team_member.first and request.user.user_of_team_member.first.team.team_member_count > 1 and request.user.user_of_team_member.first.team.team_of_plan.first %}
        <div class="progress progress-bar-success progress-lg">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width:100%;"></div>
        </div>
        {% else %}
        <div class="progress progress-bar-danger progress-lg">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width:100%;"></div>
        </div>
        {% endif %}
    </div>
    
    <div class="col-12">
        <div class="row justify-content-center">
            {% comment %} is profile complete {% endcomment %}
            {% if request.user.is_profile_complete %}
            <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 8em;">
                <div class="card text-white bg-transparent border-success text-center h-100">
                    <div class="card-content d-flex">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="card-title font-weight-bold">تکمیل اطلاعات</h4>
                                </div>
                                <div class="col-12">
                                    <a class="btn btn-success btn-darken-3 waves-effect waves-success disabled">انجام شد <i class="fa fa-check"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 13em;">
                <div class="card text-white bg-transparent border-info text-center h-100">
                    <div class="card-content d-flex">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="card-title font-weight-bold">تکمیل اطلاعات</h4>
                                </div>
                                <div class="col-12 py-1">
                                    <p class="card-text text-dark">پروفایل خودرا تکمیل کنید</p>
                                </div>
                                <div class="col-12">
                                    <a href="{% url "account:update" request.user.phone_number %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">تکمیل پروفایل</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% comment %} personal test {% endcomment %}
            {% if request.user.user_of_personal_test.exists %}
            <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 8em;">
                <div class="card text-white bg-transparent border-success text-center h-100">
                    <div class="card-content d-flex ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="card-title font-weight-bold">آزمون شخصیت</h3>
                                </div>
                                <div class="col-12">
                                    <a class="btn btn-success btn-darken-3 waves-success waves-light disabled">انجام شد <i class="fa fa-check"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 8em;">
                <div class="card text-white bg-transparent border-info text-center h-100">
                    <div class="card-content d-flex ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="card-title font-weight-bold">آزمون شخصیت</h3>
                                </div>
                                <div class="col-12">
                                    <a href="{% url "quiz:pre-register-personal-tests" road.uuid %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">انجام آزمون</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% comment %} Intro challenge {% endcomment %}
            {% comment %} {% if challenge_response %}
            <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 13em;">
                <div class="card text-white bg-transparent border-success text-center h-100">
                    <div class="card-content d-flex">
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold">چالش ورودی</h4>
                            <div class="row">
                                <div class="col-12 py-1">
                                    <p class="card-text text-dark">تبریک! پاسخ شما توسط شتابدهنده تایید شد</p>
                                </div>
                                <div class="col-12">
                                    <a class="btn btn-success btn-darken-3 waves-success waves-light disabled">انجام شد <i class="fa fa-check"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 13em;">
                <div class="card text-white bg-transparent border-info text-center h-100">
                    <div class="card-content d-flex">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="card-title font-weight-bold">چالش ورودی</h4>
                                </div>
                                <div class="col-12 py-1">
                                    <p class="card-text text-dark">انجام چالش ورودی</p>
                                </div>
                                <div class="col-12">
                                    <a href="{% url "quiz:pre-register-challenge" task.uuid road.uuid %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">شروع چالش</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %} {% endcomment %}

            {% if request.user.user_of_road_registration.first.team_or_individual == "t" %}
                {% comment %} create team {% endcomment %}
                {% if request.user.user_of_team_member.first and request.user.user_of_team_member.first.team.team_member_count > 1 and request.user.user_of_team_member.first.team.team_of_plan.first %}
                <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 8em;">
                    <div class="card text-white bg-transparent border-success text-center h-100">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-title font-weight-bold">ساخت تیم و هم تیمی</h3>
                                    </div>
                                    <div class="col-12">
                                        <a class="btn btn-success btn-darken-3 waves-effect waves-success disabled">انجام شد <i class="fa fa-check"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_member_count > 1 and not request.user.user_of_team_member.first.team.team_of_plan.first %}
                <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 8em;">
                    <div class="card text-white bg-transparent border-info text-center h-100">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-title font-weight-bold">ثبت هم تیمی</h3>
                                    </div>
                                    <div class="col-12">
                                        <a href="{% url "team:update-team" request.user.user_of_team_member.first.team.uuid %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">ثبت عضو</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif request.user.user_of_team_member.first and not request.user.user_of_team_member.first.team.team_of_plan.first %}
                <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 8em;">
                    <div class="card text-white bg-transparent border-info text-center h-100">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-title font-weight-bold">مدیریت ایده/محصول</h3>
                                    </div>
                                    <div class="col-12">
                                        <a href="{% url "team:update-team" request.user.user_of_team_member.first.team.uuid %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">ثبت ایده/محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-2 col-md-6 col-sm-12 mt-3 mt-sm-1" style="height: 8em;">
                    <div class="card text-white bg-transparent border-info text-center h-100">
                        <div class="card-content d-flex ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="card-title font-weight-bold">مدیریت تیم و ایده</h3>
                                    </div>
                                    <div class="col-12">
                                        <a href="{% url "team:manage-teams" %}?next={{request.path}}" class="btn btn-info btn-darken-3 waves-effect waves-light">ساخت تیم</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            {% if request.user.user_of_team_member.first.is_owner %}
                {% if request.user.is_profile_complete and request.user.user_of_personal_test.exists and request.user.user_of_team_member.first and request.user.user_of_team_member.first.team.team_member_count > 1 and request.user.user_of_team_member.first.team.team_of_plan.first %}
                    {% if request.user.user_of_team_member.first.team.all_users_completed_registration %}
                    <div class="col-12 mt-3" id="final_btn">
                        <form method="post" action={% url "team:road-registration" road.uuid %}>
                            {% csrf_token %}
                            <div class="mb-50 text-center text-success font-weight-bold font-medium-2">تبریک! شما و تمام اعضای تیمتان تمام نیازمندی های ثبت نام برای این مسیر آموزشی را انجام داده اید.</div>
                            <button type="submit" class="btn btn-block bg-gradient-primary">تائید و ثبت درخواست</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="col-12 mt-3">
                        <h3 class="text-danger text-center">{{registration.is_valid_registration_period}} روز زمان باقی مانده است</h3>
                        <button class="btn btn-block bg-gradient-warning">تمام اعضای شما باید به حساب خود وارد و تکمیل اطلاعات خودرا انجام دهند</button>
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}