{% extends "base.html" %}

{% load static %}
{% load tag_library %}
{% load crispy_forms_tags %}

{% block page_css %}
{% include 'elements/django_quill/media.html' %}
<style>
    img {
        max-width: 100%;
    }
</style>
{% endblock page_css %}

{% block main %}
<div class="row">

    {% include "elements/messages-section.html" %}

    {% if object_list %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                {% for item in object_list %}
                <h3 class="">{{forloop.counter}}. {{item.question.title}}</h3>
                <p class="mb-0 lh-2 mx-sm-3 px-md-5">{{item.text|safe}}</p>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>

    {% comment %} <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">در یک نگاه</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ارسال کننده: <span class="font-weight-bold">{{object.user.get_full_name}}</span></li>
                    <li class="list-group-item">تاریخ ارسال: <span class="font-weight-bold">{{object.created_time|to_jalali}}</span></li>
                    <li class="list-group-item">فایل ارسالی: {% if object.file %}<a href="{{object.file.url}}" class="badge badge-success text-white">برای مشاهده کلیک کنید</a>{% else %}<span class="badge badge-danger">دارد</span>{% endif %} </li>
                </ul>
            </div>
        </div>
    </div> {% endcomment %}
    {% else %}
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="">پاسخی یافت نشد!</h3>
                <p class="mb-0 lh-2 mx-sm-3 px-md-5 fw-bold text-danger">این کاربر به سوالات چالش خود پاسخی نداده است</p>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock main %}

{% block page_js %}{% endblock page_js %}