{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}{% endblock page_css %}

{% block main %}
<div class="row">

    <div class="col-md mb-4 mb-md-2">
        <div class="accordion mt-3" id="accordionWithIcon">
            <div class="card accordion-item">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button" data-bs-target="#accordionWithIcon-1" data-bs-toggle="collapse" type="button">
                        {% if plan.status == "i" %}<i class="ti ti-bulb ti-xs me-2"></i> ایده{% else %}<i class="ti ti-robot ti-xs me-2"></i> محصول{% endif %}
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionWithIcon-1">
                    <div class="accordion-body">
                        <div class="row p-0 p-md-3">
                            <div class="col-md-6 mb-md-2 mb-2">
                                <ul class="list-unstyled mb-4 mt-2">
                                    <!-- TODO: add education status field -->
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-sticker text-heading"></i><span class="fw-medium mx-2 text-heading"> نام محصول:</span> <span>{{plan.name}}</span></li>
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-bulb text-heading"></i><span class="fw-medium mx-2 text-heading"> وضعیت:</span> {% if plan.status == "i" %}<span class="badge bg-label-success">ایده</span>{% else %}<span class="badge bg-label-success">محصول</span>{% endif %}</li>
                                    {% if plan.status == "m" %}
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-chart-arrows-vertical"></i><span class="fw-medium mx-2 text-heading">سطح محصول:</span> <span>{{plan.get_progress_status_display}}</span></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-md-6 mb-md-2 mb-2">
                                <ul class="list-unstyled mb-4 mt-2">
                                    <!-- TODO: add education status field -->
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-align-justified text-heading"></i><span class="fw-medium mx-2 text-heading"> توضیحات:</span></li>
                                    {{plan.description}}
                                </ul>
                            </div>
    
                            <a {% if plan.video %}href="{{plan.video.url}}"{% endif %} target="blank" class="col-6 mb-md-0 mb-2">
                                <div class="form-check custom-option custom-option-icon">
                                    <span class="form-check-label custom-option-content" for="customCheckboxIcon1">
                                        <span class="custom-option-body">
                                            <i class="ti ti-video"></i>
                                            <span class="custom-option-title">فیلم محصول</span>
                                        </span>
                                    </span>
                                </div>
                            </a>
    
                            <a {% if plan.pitch_deck %}href="{{plan.pitch_deck.url}}"{% endif %} target="blank" class="col-6 mb-md-0 mb-2">
                                <div class="form-check custom-option custom-option-icon">
                                    <span class="form-check-label custom-option-content" for="customCheckboxIcon1">
                                        <span class="custom-option-body">
                                            <i class="ti ti-file-info"></i>
                                            <span class="custom-option-title">فایل pitch deck</span>
                                        </span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item card">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-2" data-bs-toggle="collapse" type="button">
                        <i class="me-2 ti ti-briefcase ti-xs"></i> کسب و کار
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionWithIcon-2">
                    <div class="accordion-body"> اطلاعاتی در دسترسی نیست!</div>
                </div>
            </div>

            <div class="accordion-item card">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-3" data-bs-toggle="collapse" type="button">
                        <i class="me-2 ti ti-users ti-xs"></i> {% if team %}تیم{% else %}فرد{% endif %}
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionWithIcon-3">
                    <div class="accordion-body">
                        {% if team %}
                        <div class="row p-0 p-md-3">
                            <div class="col-md-6 mb-md-2 mb-2">
                                <ul class="list-unstyled mb-4 mt-2">
                                    <!-- TODO: add education status field -->
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-help-hexagon text-heading"></i><span class="fw-medium mx-2 text-heading"> نام تیم:</span> <span>{{team.name}}</span></li>
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-category text-heading"></i><span class="fw-medium mx-2 text-heading"> دسته بندی:</span> {{team.category}}</li>
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-users-group text-heading"></i><span class="fw-medium mx-2 text-heading"> تعداد اعضا:</span> {{team.team_member_count}} نفر</li>
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-align-justified text-heading"></i><span class="fw-medium mx-2 text-heading"> توضیحات:</span></li>
                                    {{team.description}}
                                </ul>
                            </div>
                            <div class="col-md-6 mb-md-2 mb-2">
                                <ul class="list-unstyled mt-2">
                                    <!-- TODO: add education status field -->
                                    <li class="d-flex align-items-center mb-0 mb-md-2"><span class="fw-bold mx-2 text-heading"> اعضای تیم:</span></li>
                                </ul>
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="">
                                            <th scope="col">نام و نام‌خانوادگی</th>
                                            <th scope="col">هماهنگ کننده؟</th>
                                            <th scope="col">نقش</th>
                                            <th scope="col">آزمون تست شخصیت</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for member in team.team_of_team_member.all %}
                                        <tr>
                                            <td class=""><a href={% url "account:profile" member.user.uuid %} class="">{{member.user.get_full_name}}</a></td>
                                            <td>
                                                {% if member.is_coordinator %}
                                                <span class="badge bg-label-success"><i class="fa fa-check"></i></span>
                                                {% else %}
                                                <span class="text-secondary">***</span>
                                                {% endif %}
                                            </td>
                                            <td class="">{{member.user.get_type_display}}</td>
                                            <td><a href="" class="badge bg-label-info"><i class="fa fa-eye"></i> مشاهده</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="accordion-item card">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-4" data-bs-toggle="collapse" type="button">
                        <i class="me-2 ti ti-notes ti-xs"></i> چالش مهارت نرم
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionWithIcon-4">
                    <div class="accordion-body"> اطلاعاتی در دسترسی نیست!</div>
                </div>
            </div>

            <div class="accordion-item card">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-5" data-bs-toggle="collapse" type="button">
                        <i class="me-2 ti ti-device-gamepad ti-xs"></i> چالش تخصصی
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionWithIcon-5">
                    <div class="accordion-body"> اطلاعاتی در دسترسی نیست!</div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!--/ User Profile Content -->
{% endblock main %}

{% block page_js %}{% endblock page_js %}