{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load tag_library %}

{% block page_css %}
<link href={% static "assets-vuexy/vendor/libs/nouislider/nouislider.css" %} rel="stylesheet"/>
{% endblock page_css %}

{% block main %}
<div class="row">

    <div class="col-md mb-4 mb-md-2">
        <div class="accordion mt-3" id="accordionWithIcon">
            <div class="card accordion-item">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button" data-bs-target="#accordionWithIcon-1" data-bs-toggle="collapse" type="button">
                        {% if plan.status == "i" %}<i class="ti ti-bulb ti-xs me-2"></i> ایده{% else %}<i class="ti ti-robot ti-xs me-2"></i> محصول{% endif %}
                    </button>
                </h2>
                <div class="accordion-collapse collapse show" id="accordionWithIcon-1">
                    <div class="accordion-body">
                        <div class="row p-0 p-md-3">
                            <div class="col-md-6 mb-md-2 mb-2">
                                <ul class="list-unstyled mb-4 mt-2">
                                    <!-- TODO: add education status field -->
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-sticker text-heading"></i><span class="fw-medium mx-2 text-heading"> نام محصول:</span> <span>{{plan.name}}</span></li>
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-bulb text-heading"></i><span class="fw-medium mx-2 text-heading"> وضعیت:</span> {% if plan.status == "i" %}<span class="badge bg-label-success">ایده</span>{% else %}<span class="badge bg-label-success">محصول</span>{% endif %}</li>
                                    {% if plan.status == "m" %}
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-chart-arrows-vertical"></i><span class="fw-medium mx-2 text-heading">سطح محصول:</span> <span>{{plan.get_progress_status_display}}</span></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-md-6 mb-md-2 mb-2">
                                <ul class="list-unstyled mb-4 mt-2">
                                    <!-- TODO: add education status field -->
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-align-justified text-heading"></i><span class="fw-medium mx-2 text-heading"> توضیحات:</span></li>
                                    {{plan.description}}
                                </ul>
                            </div>
    
                            <a {% if plan.video %}href="{{plan.video.url}}"{% endif %} target="blank" class="col-6 mb-md-0 mb-2">
                                <div class="form-check custom-option custom-option-icon">
                                    <span class="form-check-label custom-option-content" for="customCheckboxIcon1">
                                        <span class="custom-option-body">
                                            <i class="ti ti-video"></i>
                                            <span class="custom-option-title">فیلم محصول</span>
                                        </span>
                                    </span>
                                </div>
                            </a>
    
                            <a {% if plan.pitch_deck %}href="{{plan.pitch_deck.url}}"{% endif %} target="blank" class="col-6 mb-md-0 mb-2">
                                <div class="form-check custom-option custom-option-icon">
                                    <span class="form-check-label custom-option-content" for="customCheckboxIcon1">
                                        <span class="custom-option-body">
                                            <i class="ti ti-file-info"></i>
                                            <span class="custom-option-title">فایل pitch deck</span>
                                        </span>
                                    </span>
                                </div>
                            </a>
                        </div>

                        <div class="row p-0 p-md-3">
                            <h5 class="col-12 card-header">امتیاز دهی به محصول</h5>
                            <form method="POST" id="product_form">
                                {% csrf_token %}
                                <input type="text" name="p-0" id="p_0_id" hidden>
                                <input type="text" name="p-1" id="p_1_id" hidden>
                                <input type="text" name="p-2" id="p_2_id" hidden>

                                <div class="pb-5">
                                    ۱. این محصول چقدر نمره میگیره؟
                                    <div class="mt-2 product-pips"></div>
                                </div>
                                
                                <div class="py-5">
                                    2. این محصول چقدر نمره میگیره؟
                                    <div class="mt-2 product-pips"></div>
                                </div>
                                
                                <div class="py-5">
                                    3. این محصول چقدر نمره میگیره؟
                                    <div class="mt-2 product-pips"></div>
                                </div>
                                
                                <div class="d-grid mt-5 col-md-6 mx-auto">
                                    <button type="submit" class="btn btn-label-success">ثبت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item card">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-2" data-bs-toggle="collapse" type="button">
                        <i class="me-2 ti ti-briefcase ti-xs"></i> کسب و کار
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionWithIcon-2">
                    <div class="accordion-body"> اطلاعاتی در دسترسی نیست!</div>
                </div>
            </div>

            <div class="accordion-item card">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-3" data-bs-toggle="collapse" type="button">
                        {% if team %}<i class="me-2 ti ti-users ti-xs"></i> تیم{% else %}<i class="me-2 ti ti-user ti-xs"></i> فرد{% endif %}
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionWithIcon-3">
                    <div class="accordion-body">
                        {% if team %}
                        <div class="row p-0 p-md-3">
                            <div class="col-md-6 mb-md-2 mb-2">
                                <ul class="list-unstyled mb-4 mt-2">
                                    <!-- TODO: add education status field -->
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-help-hexagon text-heading"></i><span class="fw-medium mx-2 text-heading"> نام تیم:</span> <span>{{team.name}}</span></li>
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-category text-heading"></i><span class="fw-medium mx-2 text-heading"> دسته بندی:</span> {{team.category}}</li>
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-users-group text-heading"></i><span class="fw-medium mx-2 text-heading"> تعداد اعضا:</span> {{team.team_member_count}} نفر</li>
                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-align-justified text-heading"></i><span class="fw-medium mx-2 text-heading"> توضیحات:</span></li>
                                    {{team.description}}
                                </ul>
                            </div>
                            <div class="col-md-6 mb-md-2 mb-2">
                                <ul class="list-unstyled mt-2">
                                    <!-- TODO: add education status field -->
                                    <li class="d-flex align-items-center mb-0 mb-md-2"><span class="fw-bold mx-2 text-heading"> اعضای تیم:</span></li>
                                </ul>
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="">
                                            <th scope="col">نام و نام‌خانوادگی</th>
                                            <th scope="col">هماهنگ کننده؟</th>
                                            <th scope="col">نقش</th>
                                            <th scope="col">آزمون تست شخصیت</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for member in team.team_of_team_member.all %}
                                        <tr>
                                            <td class=""><a href={% url "account:profile" member.user.uuid %} class="">{{member.user.get_full_name}}</a></td>
                                            <td>
                                                {% if member.is_coordinator %}
                                                <span class="badge bg-label-success"><i class="fa fa-check"></i></span>
                                                {% else %}
                                                <span class="text-secondary">***</span>
                                                {% endif %}
                                            </td>
                                            <td class="">{{member.user.get_type_display}}</td>
                                            <td><a href="" class="badge bg-label-info"><i class="fa fa-eye"></i> مشاهده</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <div class="row p-0 p-md-3">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-5 col-md-5">
                                        <div class="mb-4">
                                            <div class="">
                                                <small class="card-text text-uppercase">درباره</small>
                                                <ul class="list-unstyled mb-4 mt-2">
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-user text-heading"></i><span class="fw-medium mx-2 text-heading">نام کامل:</span> <span>علیرضا احمدی</span>
                                                    </li><li class="d-flex align-items-center mb-2"> <i class="ti ti-crown text-heading"></i><span class="fw-medium mx-2 text-heading">نقش:</span> <span>فنی</span></li>
                                                    <!-- TODO: add gender field -->
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-gender-bigender text-heading"></i><span class="fw-medium mx-2 text-heading">جنسیت:</span> <span>فنی</span></li>
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-calendar-event text-heading"></i><span class="fw-medium mx-2 text-heading">تاریخ تولد:</span> <span>1403/3/27</span></li>
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-map-pin text-heading"></i><span class="fw-medium mx-2 text-heading">ساکن:</span> <span>31 / 31</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3 col-md-5 col-md-5">
                                        <div class="mb-4">
                                            <div class="">
                                                <small class="card-text text-uppercase">اطلاعات تماس</small>
                                                <ul class="list-unstyled mb-4 mt-2">
                                                    
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-phone-call"></i><span class="fw-medium mx-2 text-heading">شماره تماس:</span> <span>09130000000</span></li>
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-mail"></i><span class="fw-medium mx-2 text-heading">ایمیل:</span> <span>adsf@gmial.com</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-3 col-md-5 col-md-5">
                                        <div class="mb-4">
                                            <div class="">
                                                <small class="card-text text-uppercase">اطلاعات تحصیلی</small>
                                                <ul class="list-unstyled mb-4 mt-2">
                                                    <!-- TODO: add education status field -->
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-help-hexagon text-heading"></i><span class="fw-medium mx-2 text-heading"> وضعیت تحصیل:</span> <span>کاردانی</span></li>
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-school text-heading"></i><span class="fw-medium mx-2 text-heading"> آخرین مقطع‌تحصیلی:</span> <span>کاردانی</span></li>
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-map-pin"></i><span class="fw-medium mx-2 text-heading">محل تحصیل:</span> <span>تهران</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-3 col-md-5 col-md-5">
                                        <div class="mb-4">
                                            <div class="">
                                                <small class="card-text text-uppercase">اطلاعات حرفه‌ای</small>
                                                <ul class="list-unstyled mb-4 mt-2">
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-stethoscope"></i><span class="fw-medium mx-2 text-heading">زمینه اصلی تخصص:</span> <span>Ai</span></li>
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-device-imac"></i><span class="fw-medium mx-2 text-heading">دیگر تخصص ها:</span> <span>devops</span></li>
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-brand-python text-heading"></i><span class="fw-medium mx-2 text-heading">زبان برنامه‌نویسی:</span> <span>Python3</span></li>
                                                    <li class="d-flex align-items-center mb-2"> <i class="ti ti-file-description text-heading"></i><span class="fw-medium mx-2 text-heading">رزومه:</span> <span><a href="/media/users/resumes/gxdnu/%D9%81%D8%B1%D9%85-%D9%87%D8%A7%DB%8C-%DA%A9%D8%A7%D8%B1%D8%A2%D9%85%D9%88%D8%B2%DB%8C.pdf" target="blank" class="badge bg-label-info">دانلود</a></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-5 col-md-5">
                                <div class="mb-4">
                                    <div class="">
                                        <small class="card-text text-uppercase">فعالیت‌های نوآوری و کسب‌وکار</small>
                                        <ul class="list-unstyled mb-4 mt-2">
                                            <li class="d-flex align-items-center mb-2"> <i class="ti ti-trending-up"></i><span class="fw-medium mx-2 text-heading">تجربه شرکت در برنامه شتابدهی:</span> <span>داشته ام</span></li>
                                            <li class="d-flex align-items-center mb-2"> <i class="ti ti-briefcase"></i><span class="fw-medium mx-2 text-heading">تجربه‌کار یا بنیان‌گذاری استارتاپ:</span> <span>هیچ تجربه ای ندارم</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="accordion-item card">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-4" data-bs-toggle="collapse" type="button">
                        <i class="me-2 ti ti-notes ti-xs"></i> چالش مهارت نرم
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionWithIcon-4">
                    <div class="accordion-body"> اطلاعاتی در دسترسی نیست!</div>
                </div>
            </div>

            <div class="accordion-item card">
                <h2 class="accordion-header d-flex align-items-center">
                    <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-5" data-bs-toggle="collapse" type="button">
                        <i class="me-2 ti ti-device-gamepad ti-xs"></i> چالش تخصصی
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="accordionWithIcon-5">
                    <div class="accordion-body"> اطلاعاتی در دسترسی نیست!</div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!--/ User Profile Content -->
{% endblock main %}

{% block page_js %}
<script src={% static "assets-vuexy/vendor/libs/nouislider/nouislider.js" %}></script>

<script>
    let sliderPips = document.querySelectorAll('.product-pips, .business-pips, .team-pips, .individual-pips, .soft-skill, .challange');
    for (let i = 0; i < sliderPips.length; i++) {
        noUiSlider.create(sliderPips[i], {
          start: [5],
          behaviour: 'tap-drag',
          step: 1,
          tooltips: false,
          range: {
            min: 0,
            max: 10
          },
          pips: {
            mode: 'steps',
            stepped: true,
            density: 10
          },
          direction: isRtl ? 'rtl' : 'ltr'
        });
    }
</script>

<script>
    let productForm = document.getElementById("product_form");

    productForm.addEventListener("submit", (e) => {
        e.preventDefault();

        let pips = document.getElementsByClassName("product-pips");

        for (let i = 0; i < pips.length; i++) {
            let val = pips[i].noUiSlider.get();
            console.log(`p_${i}_id`);
            document.getElementById(`p_${i}_id`).value = val;
        }

        // Programmatically submit the form after updating the input values
        productForm.submit();
    });
</script>
{% endblock page_js %}